<ion-header>

  <back-to-root title="การทำการเกษตร"></back-to-root>

</ion-header>

<ion-content padding>

  <form [formGroup]="f" (ngSubmit)="handleSubmit()">

    <h3>ตอนที่ 2 การทำการเกษตร</h3>
    <ion-card>
      <ion-card-content>

        <div [class.invalid]="isValid('anycheck')">
          <ion-item>
            <ion-label>
              เลือกประเภท
            </ion-label>
          </ion-item>

          <ion-item *ngIf="isValid('anycheck')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <div formGroupName="ricePlant">
            <ion-item>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>1.ข้าว</ion-label>
            </ion-item>
          </div>

          <ion-row formGroupName="agronomyPlant">
            <ion-item col-8>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>2.พืชไร่</ion-label>
            </ion-item>
            <ion-item col-4>
              <button item-right ion-button type="button" (click)="presentAlert('พืชไร่')">
                ตัวอย่างพืช
              </button>
            </ion-item>
          </ion-row>

          <div formGroupName="rubberTree">
            <ion-item>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>3.ยางพารา</ion-label>
            </ion-item>
          </div>

          <ion-row formGroupName="perennialPlant">
            <ion-item col-8>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>4.พืชยืนต้น ไม้ผล สวนป่า </ion-label>
            </ion-item>
            <ion-item col-4>
              <button item-right ion-button type="button" (click)="presentAlert('พืชยืนต้น')">
                ตัวอย่างพืช
              </button>
            </ion-item>
          </ion-row>

          <ion-row formGroupName="herbsPlant">
            <ion-item col-8>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>5.พืชผัก สมุนไพร</ion-label>
            </ion-item>
            <ion-item col-4>
              <button item-right ion-button type="button" (click)="presentAlert('พืชผักสมุนไพร')">
                ตัวอย่างพืช
              </button>
            </ion-item>
          </ion-row>

          <ion-row formGroupName="flowerCrop">
            <ion-item col-8>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>6.ไม้ดอกไม้ประดับ การเพาะพันธุ์ไม้ </ion-label>
            </ion-item>
            <ion-item col-4>
              <button item-right ion-button type="button" (click)="presentAlert('ไม้ดอกไม้ประดับ')">
                ตัวอย่างพืช
              </button>
            </ion-item>
          </ion-row>

          <div formGroupName="mushroomPlant">
            <ion-item>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>7. เพาะเชื้อและปลูกเห็ด </ion-label>
            </ion-item>
          </div>

          <div formGroupName="animalFarm">
            <ion-item>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>8.การเลี้ยงสัตว์เพื่อขายหรือใช้งานเกษตร</ion-label>
            </ion-item>
          </div>

          <div formGroupName="aquaticAnimals">
            <ion-item>
              <ion-checkbox formControlName="doing"></ion-checkbox>
              <ion-label>9. การเพาะเลี้ยงสัตว์น้ำในพื้นที่น้ำจืด </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <warning *ngIf="!isCheckWarningBox && submitRequested"></warning>

    <form-buttons-bar frontNum="{{frontNum}}" backNum="{{backNum}}"></form-buttons-bar>

  </form>

</ion-content>