<form [formGroup]="FormItem">

  <ion-item>
    <ion-label>
      {{text}}
    </ion-label>
  </ion-item>

  <ion-row radio-group formControlName="hasProblem"
    [class.invalid]="isValid('hasProblem')">
    <ion-item col-6>
      <ion-radio [value]="false" item-left></ion-radio>
      <ion-label>
        1.ไม่มีปัญหา
      </ion-label>
    </ion-item>
    <ion-item col-6>
      <ion-radio [value]="true" item-left></ion-radio>
      <ion-label>
        2.มีปัญหา คือ
      </ion-label>
    </ion-item>
  </ion-row>

  <ion-row formGroupName="problem" [class.invalid]="isValid('problem')">
    <ion-col col-6></ion-col>
    <ion-col col-6>
      <ion-item>
        <ion-label>
          2.1 เค็ม/กร่อย
        </ion-label>
        <ion-checkbox value="false" formControlName="saltWater"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          2.2 มีกลิ่น
        </ion-label>
        <ion-checkbox value="false" formControlName="smell"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          2.3 คราบมัน
        </ion-label>
        <ion-checkbox value="false" formControlName="filmOfOil"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          2.4 ฝ้าขาว
        </ion-label>
        <ion-checkbox value="false" formControlName="fogWater"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>


</form>