<!-- Generated template for the WaterProblem4Component component -->
<div>
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label>
          {{text}}
        </ion-label>
      </ion-item>

      <ion-row radio-group>
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>1.ไม่มีปัญหา </ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>2.มีปัญหา คือ</ion-label>
        </ion-item>
      </ion-row>
      <ion-item>
        <ion-label>
          2.1 เค็ม/กร่อย
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          2.2 มีกลิ่น
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          2.3 คราบมัน
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          2.4 ฝ้าขาว
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>