<ion-card>
  <ion-card-header>
    {{text}} : component water-source-8A
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="FormItem">

      <ion-item>
        <ion-label>
          1 น้ำบาดาล
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>
          2 น้ำจากสระ
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>
          3 น้ำจากแม้น้ำ/ลำคลอง/แหล่งน้ำสาธารณะ
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>
          4 น้ำจากชลประทาน
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>
          5 น้ำฝนที่กักเก็บไว้
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>
          6 น้ำที่ซื้อมาใช้
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>
          7 น้้าฝนตามธรรมชาติ
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>
          8 อื่น ๆ
        </ion-label>
        <ion-checkbox formControlName="hasOther"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="hasOtherItem() | async">
        <ion-label>โปรดระบุ</ion-label>
        <ion-input formControlName="other"></ion-input>
      </ion-item>

    </form>
  </ion-card-content>
</ion-card>