<ion-row text-center align-items-center>
  <ion-col col-2>
    {{FormItem.get('province').value}}
  </ion-col>
  <ion-col col-2>
    {{FormItem.get('district').value}}
  </ion-col>
  <ion-col col-2>
    {{FormItem.get('subDistrict').value}}
  </ion-col>
  <ion-col col-2>
    {{FormItem.get('region.outsideMunicipality').value}}
  </ion-col>
  <ion-col col-2>
    {{FormItem.get('region.insideMunicipality').value}}
  </ion-col>
  <ion-col col-1>
    {{FormItem.get('_id').value}}
  </ion-col>
  <ion-col col-1>
    <button ion-button type="button" color="secondary" (click)="goConfirmSeletEAPage(FormItem.get('_id').value)">
      เลือก
    </button>
  </ion-col>
</ion-row>