<ion-item>
  <ion-label>
    {{text}}
  </ion-label>
</ion-item>
<ion-item>
  <ion-label col-8>
    เพื่ออุปโภคบริโภค
  </ion-label>
  <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-8>
    เพื่อรดน้้าพืชในบริเวณที่อยู่อาศัย
  </ion-label>
  <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-8>
    เพื่อทำนา
  </ion-label>
  <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-8>
    เพื่อทำเกษตร
  </ion-label>
  <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-8>
    เพื่อผลิตสินค้า
  </ion-label>
  <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-8>
    เพื่อการบริการ
  </ion-label>
  <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-8>
    <b>รวมทุกกิจกรรม</b>
  </ion-label>
  <ion-input placeholder="100" disabled="true"></ion-input>
</ion-item>