<!-- Generated template for the WaterActivity5Component component -->
<div>
  <ion-card>
    <ion-card-header>
      5) ใช้น้้าจากสระนี้เพื่อท้ากิจกรรมใดบ้างคิดเป็น สัดส่วนเท่าไร
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label col-4>
          1.เพื่ออุปโภคบริโภค
        </ion-label>
        <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-4>
          2.เพื่อรดน้้าพืชในบริเวณที่อยู่อาศัย
        </ion-label>
        <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-4>
          3.เพื่อทำนา
        </ion-label>
        <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-4>
          4.เพื่อทำเกษตร
        </ion-label>
        <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-4>
          5.เพื่อผลิตสินค้า
        </ion-label>
        <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-4>
          6.เพื่อการบริการ
        </ion-label>
        <ion-input type="number" placeholder="สัดส่วนที่ใช้ %"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-4>
          รวมทุกกิจกรรม
        </ion-label>
        <ion-input placeholder="100" disabled="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>