<ion-header>

  <questionnaire-menu title="น้ำจากแม่น้ำ/ลำคลอง/แหล่งน้ำสาธารณะ "></questionnaire-menu>

</ion-header>

<ion-content padding>
  <h3>5.3 น้ำจากแม่น้ำ/ลำคลอง/แหล่งน้ำสาธารณะ</h3>

  <form (ngSubmit)="handleSubmit()" [formGroup]="f">

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            5.3.1 ใช้เครื่องสูบน้ำเพื่อสูบน้ำมาใช้หรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="hasPump" [class.invalid]="isValid('hasPump')">
          <ion-item *ngIf="isValid('hasPump')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <ion-item col-6>
            <ion-radio [value] = true item-left></ion-radio>
            <ion-label>
              ใช้
            </ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio [value] = false item-left></ion-radio>
            <ion-label>
              ไม่ใช้
            </ion-label>
          </ion-item>
        </ion-row>



        <div [ngSwitch]="f.get('hasPump').value">
          <div *ngSwitchCase="true">
            <ion-item>
              <ion-label>
                5.3.2 ใช้เครื่องสูบน้ำกี่เครื่อง
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="pumpCount" [class.invalid]="isValid('pumpCount')"></ion-input>
            </ion-item>

            <ion-item *ngIf="isValid('pumpCount')">
              <span class="invalid-msg">
                  กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </div>
        </div>

      </ion-card-content>
    </ion-card>
    <!-- เครื่องที่ N -->
    <!-- <div [ngSwitch]="f.get('hasPump').value">
      <div *ngSwitchCase="1">
        <pump [FormItem]="f.get('pump')"></pump>
      </div>
    </div> -->

    <div *ngIf="f.get('hasPump').value && f.get('pumpCount').value > 0">
      <div *ngFor="let pump of f.get('pumps').controls; let i = index">
        <pump [no]="i + 1" [FormItem]="pump"></pump>
      </div>
    </div>

    <ion-card>
      <ion-card-content>
          <div *ngIf="residenceUse == true || gardeningUse == true || agricultureUse == true || factoryUse == true || commerceUse == true || riceDoing == true">
        <water-activity6 usee="{{gardeningUse}}" 
        doing="{{riceDoing}}" 
        commerce="{{commerceUse}}" 
        factory="{{factoryUse}}"
        residence="{{residenceUse}}" 
        agriculture="{{agricultureUse}}" 
        headline="5.3.3 ใช้น้ำจากแม่น้ำ/ลำคลอง/แหล่งน้ำสาธารณะ " headline2="เพื่อทำกิจกรรมใดบ้างคิดเป็นสัดส่วนเท่าไร "
        [FormItem]="f.get('waterActivities')"></water-activity6>
        <water-problem4 headline="5.3.5 มีปัญหาคุณภาพน้ำ หรือไม่" [FormItem]="f.get('qualityProblem')"></water-problem4>
     </div>
      </ion-card-content>
    </ion-card>


    <form-buttons-bar></form-buttons-bar>

  </form>
</ion-content>