<ion-header>

  <back-to-root title="น้ำจากแม่น้ำ/ลำคลอง/แหล่งน้ำสาธารณะ "></back-to-root>

</ion-header>

<ion-content padding>

  <h3>5.3 น้ำจากแม่น้ำ/ลำคลอง/แหล่งน้ำสาธารณะ</h3>

  <form (ngSubmit)="handleSubmit()" [formGroup]="f" [rx-form-data]="(formData$ | async)?.waterUsage?.river">

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            5.3.1 ใช้เครื่องสูบน้ำเพื่อสูบน้ำมาใช้หรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="hasPump" [class.invalid]="isValid('hasPump')">
          <ion-item *ngIf="isValid('hasPump')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <ion-item col-6>
            <ion-radio [value]=true item-left></ion-radio>
            <ion-label>
              ใช้
            </ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio [value]=false item-left></ion-radio>
            <ion-label>
              ไม่ใช้
            </ion-label>
          </ion-item>
        </ion-row>

        <div [ngSwitch]="f.get('hasPump').value">
          <div *ngSwitchCase="true">
            <ion-item>
              <ion-label>
                5.3.2 ใช้เครื่องสูบน้ำกี่เครื่อง
              </ion-label>
            </ion-item>

            <count [title]="'จำนวนเครื่องสูบน้ำ'" [FormItem]="f" [count]="'pumpCount'"></count>

            <ion-item *ngIf="isValid('pumpCount')">
              <span class="invalid-msg">
                กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </div>
        </div>

      </ion-card-content>
    </ion-card>

    <div *ngIf="f.get('hasPump').value && f.get('pumpCount').value > 0">
      <div *ngFor="let pump of f.get('pumps').controls; let i = index">
        <pump [no]="i + 1" [FormItem]="pump" [G]="false"></pump>
      </div>
    </div>

    <ion-card
      *ngIf="residenceUse == true || gardeningUse == true || agricultureUse == true || factoryUse == true || commerceUse == true || riceDoing == true">
      <ion-card-content>
        <water-activity6 headline="5.3.3 ใช้น้ำจากแม่น้ำ/ลำคลอง/แหล่งน้ำสาธารณะ "
          headline2="เพื่อทำกิจกรรมใดบ้างคิดเป็นสัดส่วนเท่าไร " [FormItem]="f.get('waterActivities')"
          activeRes="{{activityResidential}}" activeWateringRes="{{activityWateringRes}}" activRice="{{activityRice}}"
          activeAgi="{{activityAgiculture}}" activeFac="{{activityFactory}}" activeCom="{{activityCommercial}}">
        </water-activity6>
        <water-problem4 headline="5.3.4 มีปัญหาคุณภาพน้ำ หรือไม่" [FormItem]="f.get('qualityProblem')"></water-problem4>
      </ion-card-content>
    </ion-card>

    <ion-card class="invalid-msg" *ngIf="f.invalid && submitRequested">
      <ion-card-header>
        กรุณาตรวจสอบข้อมูลในแบบสำรวจ
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="warning" item-start></ion-icon>
        ไม่สามารถบันทึกข้อมูลในฟอร์มสำรวจได้ โปรดตรวจแก้ไขข้อผิดพลาดด้านบนให้เรียบร้อยแล้วลองบันทึกอีกครั้ง
      </ion-card-content>
    </ion-card>

    <form-buttons-bar frontNum="{{frontNum}}" backNum="{{backNum}}"></form-buttons-bar>

  </form>
</ion-content>