<ion-header>

  <questionnaire-menu title="น้ำบาดาล "></questionnaire-menu>

</ion-header>

<ion-content padding>

  <form (ngSubmit)="handleSubmit()" [formGroup]="groundWaterForm">
    <h3>5.2 น้ำบาดาล</h3>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            5.2.1 มีบ่อน้ำบาดาลส่วนตัวหรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="privateGroundWater" [class.invalid]="isValid('privateGroundWater')">
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>มี</ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>ไม่มี</ion-label>
          </ion-item>
        </ion-row>

        <ion-item *ngIf="isValid('privateGroundWater')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>

        <ion-item>
          <ion-label>
            5.2.2 ถ้ามีบ่อน้ำบาดาลส่วนตัว มีจำนวนกี่บ่อ
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวนบ่อ" formControlName="groundWaterCount" [class.invalid]="isValid('groundWaterCount')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('groundWaterCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

        <ion-item>
          <ion-label> ในรอบ 12 เดือนที่ผ่านมา มีบ่อน้ำบาดาลที่ใช้อยู่กี่บ่อ</ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวนบ่อ" formControlName="useGroundWaterCount" [class.invalid]="isValid('useGroundWaterCount')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('useGroundWaterCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ground-water-usage></ground-water-usage>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            5.2.4 ใช้น้ำจากบ่อน้ำบาดาลสาธารณะหรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="publicGroundWater" [class.invalid]="isValid('publicGroundWater')">

          <ion-item *ngIf="isValid('publicGroundWater')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>

          <ion-item col-6>
            <ion-radio value="1" item-left></ion-radio>
            <ion-label>ใช้</ion-label>
          </ion-item>

          <ion-item col-6>
            <ion-radio value="2" item-left></ion-radio>
            <ion-label>ไม่ใช้</ion-label>
          </ion-item>
        </ion-row>

        <ion-item>
          <ion-label>
            5.2.5 ถ้าใช้น้ำบ่อน้ำบาดาลสาธารณะ ใช้จำนวนกี่บ่อ
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวนบ่อ" formControlName="publicGroundWater" [class.invalid]="isValid('publicGroundWater')"></ion-input>
        </ion-item>

        <ion-item *ngIf="isValid('publicGroundWater')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>
      </ion-card-content>

    </ion-card>

    <ground-water-usage-public></ground-water-usage-public>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block type="submit">Save & Next</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>