<div [formGroup]="FormItem">

  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label>
          <h3><b>4.จระเข้</b></h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> 1) ลักษณะการเลี้ยงเป็นอย่างไร</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>
        <ion-label>1.บ่อ</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          2. อื่น ๆ
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>โปรดระบุ</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          2) ถ้าเลี้ยงในบ่อ มีจำนวนบ่อเท่าไร
        </ion-label>
      </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="animalsCount" [class.invalid]="isValid('animalsCount')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('animalsCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

      <ion-item>
        <ion-label>
          2.1) ขนาดบ่อทั้งหมดเท่ากันหรือไม่
        </ion-label>
      </ion-item>

      <ion-row radio-group>
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>เท่ากัน</ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>ไม่เท่ากัน</ion-label>
        </ion-item>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <pool-area headline="2.2) บ่อที่ 1"></pool-area>

  <ion-card>
    <ion-card-content>
        <ion-item>
          <ion-label> 3) จำนวนที่เลี้ยงเฉลี่ยต่อเดือน เดือนละกี่ตัว</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="animalsCount" [class.invalid]="isValid('animalsCount')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('animalsCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <water-sources9 headline="4) การเลี้ยงสัตว์น้ำใช้น้ำจากแหล่งใดบ้าง (เลือกได้หลายข้อ)"></water-sources9>

</div>