<!-- Generated template for the RainStorageComponent component -->
<ion-row style="align-items: center" (click)="presentModal()">
  <ion-col col-4>
    <ion-item disabled="true">
      <ion-label>เลือกภาชนะ</ion-label>
      <ion-select>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col col-4>
    <ion-item>
      <ion-label>เลือกขนาด</ion-label>
      <ion-select>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col col-1>
    ลิตร
  </ion-col>
  <ion-col col-2>
    จำนวน
  </ion-col>
  <ion-col col-1>
    <ion-item>
      <ion-input placeholder="0"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>