<ion-row style="align-items: center" (click)="presentModal()" [formGroup]="FormItem">
  <ion-col col-6>
    <ion-item *ngIf="text != ''">
      <ion-label>
        {{ no }} {{ text }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="text == ''">
      <ion-label>
        {{ no }}
      </ion-label>
      <ion-input type="text" disabled="true" formControlName="category"></ion-input>
    </ion-item>
  </ion-col>

  <ion-col col-4>
    <ion-input type="text" disabled="true" formControlName="size"></ion-input>
  </ion-col>

  <ion-col col-2>
    <ion-input type="number" disabled="true" formControlName="count"></ion-input>
  </ion-col>

</ion-row>