<!--
  Generated template for the RubberTreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <questionnaire-menu title="ยางพารา "></questionnaire-menu>

</ion-header>

<ion-content padding>

  <h3><b>ตอนที่ 2.3 ยางพารา</b></h3>


  <form (ngSubmit)="handleSubmit()" [formGroup]="rubbertree">

    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label>
            2.3.1 ในรอบ 12 เดือนที่ผ่านมาครัวเรือนนี้ได้ปลูกยางพารา หรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="doing" [class.invalid]="isValid('doing')">
          <ion-item *ngIf="isValid('doing')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>
          <ion-item col-6>
            <ion-radio value="1" item-left></ion-radio>
            <ion-label>ปลูก</ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio value="2" item-left></ion-radio>
            <ion-label>ไม่ปลูก</ion-label>
          </ion-item>
        </ion-row>


        <div [ngSwitch]="rubbertree.get('doing').value">
          <div *ngSwitchCase="1">
            <ion-item>
              <ion-label>
                2.3.2 ถ้า “ปลูก” มีพื้นที่ปลูก <b>ยางพารา</b>จำนวนกี่แปลง
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="กรอกจำนวน" formControlName="fieldCount"></ion-input>
            </ion-item>

            <ion-item *ngIf="isValid('fieldCount')">
              <span class="invalid-msg">กรุณากรอกจำนวน</span>
            </ion-item>
          </div>
        </div>

      </ion-card-content>
    </ion-card>



    <ion-card>
      <div [ngSwitch]="rubbertree.get('doing').value">
        <div *ngSwitchCase="1">
          <ion-card-header>
            <b>แปลงที่ 1</b>
          </ion-card-header>
          <ion-card-content>
            <div formGroupName="fields">



              <ion-item>
                <ion-label>1) ตั้งอยู่ที่ใด (จังหวัด อำเภอ ตำบล)</ion-label>
              </ion-item>
              <location></location>


              <ion-item>
                <ion-label>2) ขนาดพื้นที่เท่าไหร่ กี่ไร่ กี่งาน กี่ตาราง </ion-label>
              </ion-item>

              <field-area></field-area>


              <ion-item>
                <ion-label>3) ที่แปลงนี้ตั้งอยู่ในเขตชลประทานหรือไม่ </ion-label>
              </ion-item>

              <ion-row radio-group formControlName="irrigationField" [class.invalid]="isValid('fields.irrigationField')">
                <ion-item *ngIf="isValid('fields.irrigationField')">
                  <span class="invalid-msg">กรุณาเลือก</span>
                </ion-item>
                <ion-item col-6>
                  <ion-radio item-left></ion-radio>
                  <ion-label>อยู่</ion-label>
                </ion-item>
                <ion-item col-6>
                  <ion-radio item-left></ion-radio>
                  <ion-label>ไม่อยู่</ion-label>
                </ion-item>
              </ion-row>


            </div>

          </ion-card-content>
        </div>
      </div>
    </ion-card>



    <div [ngSwitch]="rubbertree.get('doing').value">
      <div *ngSwitchCase="1">
        <water-sources9 headline="4) ที่แปลงนี้ใช้น้ำจากแหล่งใดบ้าง(เลือกได้หลายข้อ)"></water-sources9>
      </div>
    </div>

    <form-buttons-bar></form-buttons-bar>

  </form>
</ion-content>