<ion-header>

  <questionnaire-menu title="ตอนที่ 1 ข้อมูลบ้าน/อาคาร/สิ่งปลูกสร้าง" isDisabled="true"></questionnaire-menu>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="handleSubmit()" [formGroup]="f" [rx-form-data]="dataBuilding$ | async">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            ชื่อถนน ลำน้ำหรือละแวกบ้าน
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรอกข้อมูล" formControlName="road" [class.invalid]="isValid('road')">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('road')">
          <span class="invalid-msg">
            กรุณากรอกข้อมูล
          </span>
        </ion-item>
        <ion-item>
          <ion-label>
            ชื่อตรอก/ซอย
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรอกข้อมูล" formControlName="alley" [class.invalid]="isValid('alley')">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('alley')">
          <span class="invalid-msg">
            กรุณากรอกข้อมูล
          </span>
        </ion-item>
        <ion-item>
          <ion-label>
            ชื่อหมู่บ้านจัดสรร/โครงการจัดสรร/คอนโด/อาคาร/สำนักงาน/<br>สถาบัน/นิคมอุตสาหกรรม/คุ้ม/ชุมชน ฯลฯ
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรอกข้อมูล" formControlName="name" [class.invalid]="isValid('name')">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('name')">
          <span class="invalid-msg">
            กรุณากรอกข้อมูล
          </span>
        </ion-item>

        <ion-item>
          <ion-label>
            เลขที่บ้าน/อาคาร
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรอกข้อมูล" formControlName="houseNo"
            [class.invalid]="isValid('houseNo')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('houseNo')">
          <span class="invalid-msg">
            กรุณากรอกข้อมูล
          </span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                ละติจูด
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" formControlName="latitude" placeholder="กรอกข้อมูล"
                [class.invalid]="isValid('latitude')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('latitude')">
              <span class="invalid-msg">
                กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>
                ลองจิจูด
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" formControlName="longitude" placeholder="กรอกข้อมูล"
                [class.invalid]="isValid('longitude')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('longitude')">
              <span class="invalid-msg">
                กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </ion-col>
        </ion-row>

        <div padding style="text-align: center">
          <ion-label ion-button (click)="addLocation()">เปลี่ยนเป็นตำแหน่งปัจจุบัน</ion-label>
        </div>

      </ion-card-content>
    </ion-card>
  </form>

  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="handleSubmit()" [formGroup]="f">
        <ion-item>
          <span>
            ประเภทบ้าน/อาคาร/สิ่งปลูกสร้าง
          </span>
        </ion-item>
        <ion-item *ngIf="isValid('buildingType')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>
        <ion-item [class.invalid]="isValid('buildingType')">
          <ion-label>เลือกประเภท</ion-label>
          <ion-select interface="action-sheet" formControlName="buildingType">
            <ion-option [value]="1">1. บ้านเดี่ยว</ion-option>
            <ion-option [value]="2">2. บ้านแฝด/ทาวเฮ้าส์</ion-option>
            <ion-option [value]="3">3. ห้องแถว/เรือนแถว/ตึกแถว</ion-option>
            <ion-option [value]="4">4. อาคารสูง(คอนโดฯ/แมนชั่น/แฟลต/อพาร์ทเมนท์)</ion-option>
            <ion-option [value]="5">5. อาคารสำนักงาน</ion-option>
            <ion-option [value]="6">6. โรงแรม/รีสอร์ท/เกสเฮ้าส์</ion-option>
            <ion-option [value]="7">7. สถานพยาบาล:ภาครัฐ</ion-option>
            <ion-option [value]="8">8. สถานพยาบาล:ภาคเอกชน</ion-option>
            <ion-option [value]="9">9. สถานที่ราชการ/รัฐวิสาหกิจ</ion-option>
            <ion-option [value]="10">10. ศาสนสถาน</ion-option>
            <ion-option [value]="11">11. สถานศึกษา:ภาครัฐ</ion-option>
            <ion-option [value]="12">12. สถานศึกษา:ภาคเอกชน</ion-option>
            <ion-option [value]="13">13. โกดัง/โรงงาน</ion-option>
            <ion-option [value]="14">14. โรงเรือนเพาะปลูก/เลี้ยงสัตว์</ion-option>
            <ion-option [value]="15">15. อาคารกำลังก่อสร้าง</ion-option>
            <ion-option [value]="16">16. อื่นๆ</ion-option>
          </ion-select>
        </ion-item>

        <div [ngSwitch]="f.get('buildingType').value">
          <div *ngSwitchCase="16">
            <ion-item>
              <ion-label>
                โปรดระบุ
              </ion-label>
              <ion-input type="text" formControlName="other" [class.invalid]="isValid('other')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('other')">
              <span class="invalid-msg">
                กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </div>
        </div>


      </form>

      <ion-item>
        <span>
          การเข้าพบ {{ f.get('accessCount').value }}/3
        </span>
      </ion-item>
      <ion-item *ngIf="isValidAccess()">
        <span class="invalid-msg">กรุณาเลือก</span>
      </ion-item>
      <ion-item [class.invalid]="isValidAccess()">
        <ion-label>เลือกประเภท</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="access">
          <ion-option [value]=1>1. มีผู้ให้ข้อมูลให้ความร่วมมือ</ion-option>
          <ion-option [value]=2>2. มีผู้ให้ข้อมูล แต่ไม่ให้ความร่วมมือ</ion-option>
          <ion-option [value]=3>3. ไม่มี/ไม่พบผู้ให้ข้อมูล</ion-option>
          <ion-option [value]=4>4. บ้าน/อาคาร ว่างหรือร้าง/รวมกับอาคารอื่น</ion-option>
          <ion-option [value]=5 *ngIf="lastAccess == 1 && unitCount == 1">5. ไม่สามารถเก็บข้อมูลต่อได้</ion-option>
        </ion-select>
      </ion-item>

      <form (ngSubmit)="handleSubmit()" [formGroup]="f">
        <div *ngIf="access == 4">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>
                  จำนวนบ้าน/อาคาร ว่าง
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="vacancyCount"
                  [class.invalid]="isValid('access4')"></ion-input>
              </ion-item>
              <ion-item *ngIf="isValid('access4')">
                <span class="invalid-msg">
                  กรุณากรอกข้อมูล
                </span>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>
                  จำนวนบ้าน/อาคาร ร้าง
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="abandonedCount"
                  [class.invalid]="isValid('access4')"></ion-input>
              </ion-item>
              <ion-item *ngIf="isValid('access4')">
                <span class="invalid-msg">
                  กรุณากรอกข้อมูล
                </span>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </form>

      <ion-item>
        <label>
          ให้บันทึกข้อความเกี่ยวกับ ปัญหา/อุปสรรค/การนัดหมาย/เหตุผล
          <br>ที่นับจดไม่ได้
        </label>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="กรอกข้อมูล" [(ngModel)]="comment"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <warning *ngIf="!isCheckWarningBox && submitRequested"></warning>

  <form (ngSubmit)="handleSubmit()" [formGroup]="f">
    <form-buttons-bar [isDisabled]="true" [checkFormButtonsForBuilding]="true"></form-buttons-bar>
  </form>


</ion-content>