<ion-header>

  <questionnaire-menu title="ตอนที่ 1 ข้อมูลบ้าน/อาคาร/สิ่งปลูกสร้าง"></questionnaire-menu>

</ion-header>

<ion-content padding>
  <form [formGroup]="f" (ngSubmit)="handleSubmit()">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            ชื่อถนน ลำน้ำหรือละแวกบ้าน
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรอกชื่อถนน ลำน้ำหรือละแวกบ้าน"
            formControlName="road" [class.invalid]="isValid('road')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('road')">
          <span class="invalid-msg">
            กรุณากรอกชื่อถนน ลำน้ำหรือละแวกบ้าน
          </span>
        </ion-item>
        <ion-item>
          <ion-label>
            ชื่อตรอก/ซอย
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรอกชื่อตรอก/ซอย"
            formControlName="alley" [class.invalid]="isValid('alley')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('alley')">
          <span class="invalid-msg">
            กรุณากรอกชื่อตรอก/ซอย
          </span>
        </ion-item>
        <ion-item>
          <ion-label>
            ชื่อหมู่บ้าน/คอนโด/อาคาร/สำนักงาน/สถานประกอบการ/สถาบัน ฯลฯ
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text"
            placeholder="กรอกชื่อหมู่บ้าน/คอนโด/อาคาร/สำนักงาน/สถานประกอบการ/สถาบัน"
            formControlName="name" [class.invalid]="isValid('name')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('name')">
          <span class="invalid-msg">
            กรุณากรอกชื่อหมู่บ้าน/คอนโด/อาคาร/สำนักงาน/สถานประกอบการ/สถาบัน
          </span>
        </ion-item>

        <ion-item>
          <ion-label>
            เลขที่บ้าน/อาคาร
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรอกเลขที่บ้าน/อาคาร"
            formControlName="houseNo" [class.invalid]="isValid('houseNo')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('houseNo')">
          <span class="invalid-msg">
            กรุณากรอกเลขที่บ้าน/อาคาร
          </span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                ละติจูด
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" formControlName="latitude"
                [class.invalid]="isValid('latitude')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('latitude')">
              <span class="invalid-msg">
                กรุณากรอกละติจูด
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>
                ลองติจูด
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" formControlName="longitude"
                [class.invalid]="isValid('longitude')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('longitude')">
              <span class="invalid-msg">
                กรุณากรอกลองติจูด
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <div padding style="text-align: center">
          <button ion-button>
            เปลี่ยนเป็นตำแหน่งปัจจุบัน
          </button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <span>
            ประเภทบ้าน/อาคาร/สิ่งปลูกสร้าง
          </span>
        </ion-item>
        <ion-item [class.invalid]="isValid('buildingType')">
          <ion-label>ประเภทบ้าน/อาคาร/สิ่งปลูกสร้าง</ion-label>
          <ion-select interface="action-sheet" formControlName="buildingType">
            <ion-option [value]="1">1. บ้านเดี่ยว</ion-option>
            <ion-option [value]="2">2. บ้านแฝด/ทาวเฮ้าส์</ion-option>
            <ion-option [value]="3">3. ห้องแถว/เรือนแถว/ตึกแถว</ion-option>
            <ion-option [value]="4">4. อาคารสูง(คอนโดฯ/แมนชั่น/แฟลต/อพาร์ทเมนท์)</ion-option>
            <ion-option [value]="5">5. อาคารสำนักงานเอกชน</ion-option>
            <ion-option [value]="6">6. โรงแรม/รีสอร์ท/เกสเฮ้าส์</ion-option>
            <ion-option [value]="7">7. สถานพยาบอล:ภาครัฐ</ion-option>
            <ion-option [value]="8">8. สถานพยาบอล:ภาคเอกชน</ion-option>
            <ion-option [value]="9">9. สถานที่ราชการ/รัฐวิสาหกิจ</ion-option>
            <ion-option [value]="10">10. ศาสนสถาน</ion-option>
            <ion-option [value]="11">11. สถานศึกษา:ภาครัฐ</ion-option>
            <ion-option [value]="12">12. สถานศึกษา:ภาคเอกชน</ion-option>
            <ion-option [value]="13">13. โกดัง/โรงงาน</ion-option>
            <ion-option [value]="14">14. โรงเรือนเพาะปลูก/เลี้ยงสัตว์</ion-option>
            <ion-option [value]="15">15. อาคารกำลังก่อสร้าง</ion-option>
            <ion-option [value]="16">16. อื่นๆ</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="isValid('buildingType')">
          <span class="invalid-msg">
            กรุณาเลือกประเภทบ้าน/อาคาร/สิ่งปลูกสร้าง
          </span>
        </ion-item>

        <div [ngSwitch]="f.get('buildingType').value">
          <div *ngSwitchCase="16">
            <ion-item>
              <ion-label>
                โปรดระบุ
              </ion-label>
              <ion-input type="text" formControlName="other"
                [class.invalid]="isValid('other')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('other')">
              <span class="invalid-msg">
                กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </div>
        </div>

        <ion-item>
          <span>
            การเข้าพบ 1/3
          </span>
        </ion-item>
        <ion-item [class.invalid]="isValid('access')">
          <ion-label>การเข้าพบ 1/3</ion-label>
          <ion-select interface="action-sheet" formControlName="access">
            <ion-option [value]="1">1. มีผู้ให้ข้อมูลให้ความร่วมมือ</ion-option>
            <ion-option [value]="2">2. มีผู้ให้ข้อมูล แต่ไม่ให้ความร่วมมือ</ion-option>
            <ion-option [value]="3">3. ไม่มี/ไม่พบผู้ให้ข้อมูล</ion-option>
            <ion-option [value]="4">4. บ้าน/อาคาร ว่างหรือร้าง</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="isValid('access')">
          <span class="invalid-msg">
            กรุณาเลือกการเข้าพบ 1/3
          </span>
        </ion-item>

        <div [ngSwitch]="f.get('access').value">
          <div *ngSwitchCase="4">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>
                    จำนวนบ้าน/อาคาร ว่าง
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-input type="number" placeholder="จำนวนบ้าน/อาคาร ว่าง"
                    formControlName="vacancyCount"
                    [class.invalid]="isValid('vacancyCount')"></ion-input>
                </ion-item>
                <ion-item *ngIf="isValid('vacancyCount')">
                  <span class="invalid-msg">
                    กรุณากรอกจำนวนบ้าน/อาคาร ว่าง
                  </span>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>
                    จำนวนบ้าน/อาคาร ร้าง
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-input type="number" placeholder="จำนวนบ้าน/อาคาร ร้าง"
                    formControlName="abandonedCount"
                    [class.invalid]="isValid('abandonedCount')"></ion-input>
                </ion-item>
                <ion-item *ngIf="isValid('abandonedCount')">
                  <span class="invalid-msg">
                    กรุณากรอกจำนวนบ้าน/อาคาร ว่าง
                  </span>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <ion-item>
          <label>
            ให้บันทึกข้อความเกี่ยวกับ ปัญหา/อุปสรรค/การนัดหมาย/เหตุผล
            ที่นับจดไม่ได้
          </label>
        </ion-item>
        <ion-item>
          <ion-input type="text"
            placeholder="กรอกปัญหา/อุปสรรค/การนัดหมาย/เหตุผล ที่นับจดไม่ได้"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <form-buttons-bar></form-buttons-bar>
  </form>

</ion-content>