<div [formGroup]="FormItem">

  <ion-card>
    <ion-card-header>
      <b>โรงเรือนที่ {{ no }}</b>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label> 1) ตั้งอยู่ที่ใด (จังหวัด อำเภอ ตำบล)</ion-label>
      </ion-item>

      <location [FormItem]="FormItem.get('location')"></location>

      <ion-item>
        <ion-label>
          2) ขนาดพื้นที่เท่าไร กี่ตารางเมตร
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input formControlName="areaMeter" type="number" placeholder="กรอกจำนวน" [class.invalid]="isValid('areaMeter')"></ion-input>
      </ion-item>
      <ion-item *ngIf="isValid('areaMeter')">
        <span class="invalid-msg">กรุณากรอกจำนวน</span>
      </ion-item>

      <ion-item>
        <ion-label>
          3) โรงเรือนนี้ตั้งอยู่ในเขตชลประทานหรือไม่
        </ion-label>
      </ion-item>

      <ion-row radio-group formControlName="irrigationField" [class.invalid]="isValid('irrigationField')">
        <ion-item *ngIf="isValid('irrigationField')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>
        <ion-item col-6>
          <ion-radio value="1" item-left></ion-radio>
          <ion-label>1. อยู่</ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio value="2" item-left></ion-radio>
          <ion-label>2. ไม่อยู่</ion-label>
        </ion-item>
      </ion-row>

      <water-sources9 [headline]="'4) ที่แปลงนี้ใช้น้ำจากแหล่งใดบ้าง (เลือกได้หลายข้อ)'"></water-sources9>

    </ion-card-content>
  </ion-card>


</div>