<!--
  Generated template for the IrrigationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <questionnaire-menu title="น้ำจากชลประทาน "></questionnaire-menu>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="handleSubmit()" [formGroup]="IrrigationFrm">

    <h3>5.5 น้ำจากชลประทาน</h3>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            5.5.1 มีการนำน้้าจากชลประทานมาใช้ปริมาณ เท่าไรต่อเดือนโดยเฉลี่ย
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="cubicMeterPerMonth" [class.invalid]="isValid('cubicMeterPerMonth')">
          <ion-item *ngIf="isValid('cubicMeterPerMonth')">
            <span class="invalid-msg">Please fill in </span>
          </ion-item>
          <ion-item>
            <ion-label>ทราบ</ion-label>
            <ion-radio item-left></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>ไม่ทราบ</ion-label>
            <ion-radio item-left></ion-radio>
          </ion-item>
        </ion-row>

        <ion-item>
          <ion-label>ทราบปริมาณน้ำ(ลบ.ม./เดือน)</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="การใช้น้ำเฉลี่ย" formControlName="unknowPoolUsage" [class.invalid]="isValid('unknowPoolUsage')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('unknowPoolUsage')">
          <span class="invalid-msg">Please fill in </span>
        </ion-item>

        <ion-item>
          <ion-label>
            5.5.2 ใช้เครื่องสูบน้้าเพื่อสูบน้้ามาใช้หรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="hasPump" [class.invalid]="isValid('hasPump')">
          <ion-item *ngIf="isValid('hasPump')">
            <span class="invalid-msg">Please fill in </span>
          </ion-item>
          <ion-item col-6>
            <ion-label>1.ใช้</ion-label>
            <ion-radio item-left></ion-radio>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>2.ไม่ใช้</ion-label>
          </ion-item>
        </ion-row>


        <ion-item>
          <ion-label>
            5.5.3 ใช้เครื่องสูบน้้ากี่่เครื่อง
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="จำนวนเครื่อง" formControlName="pumpCount" [class.invalid]="isValid('pumpCount')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('pumpCount')">
          <span class="invalid-msg">Please fill in </span>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <pump></pump>

    <ion-card>
      <ion-card-content>
        <water-activity6 [headline]="'5) ใช้น้ำจากชลประทาน เพื่อท้ากิจกรรม ใดบ้างคิดเป็นสัดส่วนเท่าไร'"></water-activity6>
        <water-problem4 [headline]="'6) มีปัญหาคุณภาพน้ำ หรือไม่'"></water-problem4>
      </ion-card-content>
    </ion-card>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block type="submit">Save & Next</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>