<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Irrigation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="handleSubmit()" [formGroup]="IrrigationFrm">

    <h3>5.5 น้ำจากชลประทาน</h3>

    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label>
            5.5.1 มีการนำน้ำจากชลประทานมาใช้ปริมาณ เท่าไรต่อเดือนโดยเฉลี่ย
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="cubicMeterPerMonth" [class.invalid]="isValid('cubicMeterPerMonth')">
          <ion-item *ngIf="isValid('cubicMeterPerMonth')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>
          <ion-item>
            <ion-label>ทราบ</ion-label>
            <ion-radio value="1" item-left></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>ไม่ทราบ</ion-label>
            <ion-radio value="2" item-left></ion-radio>
          </ion-item>
          <ion-item *ngIf="isValid('unknowPoolUsage')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>
        </ion-row>

        <div [ngSwitch]="IrrigationFrm.get('cubicMeterPerMonth').value">
          <div *ngSwitchCase="1">
            <ion-item>
              <ion-label>ทราบปริมาณน้ำ(ลบ.ม./เดือน)</ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="การใช้น้ำเฉลี่ย" formControlName="unknowPoolUsage" [class.invalid]="isValid('unknowPoolUsage')"></ion-input>
            </ion-item>
          </div>
        </div>

        <ion-item>
          <ion-label>
            5.5.2 ใช้เครื่องสูบน้้าเพื่อสูบน้้ามาใช้หรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="hasPump" [class.invalid]="isValid('hasPump')">
          <ion-item *ngIf="isValid('hasPump')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>
          <ion-item col-6>
            <ion-label>1.ใช้</ion-label>
            <ion-radio value="1" item-left></ion-radio>
          </ion-item>
          <ion-item col-6>
            <ion-radio value="2" item-left></ion-radio>
            <ion-label>2.ไม่ใช้</ion-label>
          </ion-item>
        </ion-row>

        <div [ngSwitch]="IrrigationFrm.get('hasPump').value">
          <div *ngSwitchCase="1">
            <ion-item>
              <ion-label>
                5.5.3 ใช้เครื่องสูบน้้ากี่่เครื่อง
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="จำนวนเครื่อง" formControlName="pumpCount" [class.invalid]="isValid('pumpCount')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('pumpCount')">
              <span class="invalid-msg">กรุณากรอกจำนวน</span>
            </ion-item>
          </div>
        </div>

      </ion-card-content>
    </ion-card>

    <div [ngSwitch]="IrrigationFrm.get('hasPump').value">
      <div *ngSwitchCase="1">
        <pump></pump>
      </div>
    </div>

    <ion-card>
      <ion-card-content>
        <water-activity6 [headline]="'5) ใช้น้ำจากชลประทาน เพื่อท้ากิจกรรม ใดบ้างคิดเป็นสัดส่วนเท่าไร'"></water-activity6>
        <water-problem4 [headline]="'6) มีปัญหาคุณภาพน้ำ หรือไม่'"></water-problem4>
      </ion-card-content>
    </ion-card>

    <form-buttons-bar></form-buttons-bar>

  </form>
</ion-content>