<ion-header>
  <questionnaire-menu title="พืชผัก สมุนไพร "></questionnaire-menu>
</ion-header>

<ion-content padding>
  <h3>ตอนที่ 2.5 พืชผัก สมุนไพร</h3>
  <form (ngSubmit)="handleSubmit()" [formGroup]="f">

    <ion-card>
      <ion-card-content>
        <dl>
          <dd>
            <b>พืชผัก สมุนไพร</b>
          </dd>
          <dt>
            เช่น กะหล่ำปลี ข่า ขิง ขมิ้น คะน้า ชะอม ตะไคร้ แตงกวา บวบ บัวสาย ผักกาดขาว ผักชี เผือก พริก
            หอม มันเทศ โหระพา กะเพรา
            แมงลัก มะเขือเทศ มะเขือ พริกไทย กระวาน กานพลู กวาวเครือ สำรอง
            หญ้าหวาน อบเชย อัญชัน ข้าวโพดฝักอ่อน ข้าวโพดรับประทาน เป็นต้น
          </dt>
        </dl>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            2.5.1 ในรอบ 12 เดือนที่ผ่านมาครัวเรือนนี้ได้ปลูก<br><b>พืชผัก สมุนไพร</b> หรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="doing" [class.invalid]="isValid('doing')">
          <ion-item *ngIf="isValid('doing')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <ion-item col-6>
            <ion-radio [value]="true" item-left></ion-radio>
            <ion-label>
              ปลูก
            </ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio [value]="false" item-left></ion-radio>
            <ion-label>
              ไม่ปลูก
            </ion-label>
          </ion-item>
        </ion-row>

        <div *ngIf="f.get('doing').value">
          <ion-item>
            <ion-label>
              2.5.2 ถ้า "ปลูก" มีพื้นที่ปลูก<b>พืชผัก สมุนไพร</b> จำนวนกี่แปลง
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-input type="number" placeholder="กรอกจำนวนแปลง" formControlName="fieldCount" [class.invalid]="isValid('fieldCount')"></ion-input>
          </ion-item>
          <ion-item *ngIf="isValid('fieldCount')">
            <span class="invalid-msg">
              กรุณากรอกจำนวน
            </span>
          </ion-item>
        </div>

      </ion-card-content>
    </ion-card>

    <div *ngIf="f.get('doing').value && f.get('fieldCount').value > 0">
      <div *ngFor="let far of f.get('fields').controls; let i = index">
        <field-herbs-plant [no]="i + 1" [shownData2]="shownData2" [FormItem]="far"></field-herbs-plant>
      </div>
    </div>

    <form-buttons-bar></form-buttons-bar>

  </form>
</ion-content>