<!--
  Generated template for the HerbsPlantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HerbsPlant</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="handleSubmit()" [formGroup]="HerbsPlantFrm">
    <h3>2.5 พืชผัก สมุนไพร</h3>
    <ion-card>
      <ion-item>
        <ion-label>
            พืชผัก สมุนไพร เช่น กะหล่ำปลี ข่า ขิง ขมิ้น คะน้า ชะอม ตะไคร้ แตงกวา บวบ บัวสาย ผักกาดขาว ผักชี เผือก พริก หอม มันเทศ โหระพา กะเพรา แมงลัก มะเขือเทศ มะเขือ พริกไทย กระวาน กานพลู กวาวเครือ สำรอง หญ้าหวาน อบเชย อัญชัน ข้าวโพดฝักอ่อน ข้าวโพดรับประทาน เป็นต้น 
 
        </ion-label>
      </ion-item>
    </ion-card>
    
    <ion-card>

      <ion-item>
        <ion-label>
          2.5.1 ในรอบ 12 เดือนที่ผ่านมาครัวเรือนนี้ได้ปลูกพืชผัก สมุนไพร หรือไม่
        </ion-label>
      </ion-item>
      <ion-row radio-group formControlName="doing">
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>ปลูก</ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>ไม่ปลูก</ion-label>
        </ion-item>
      </ion-row>
      <ion-item *ngIf="isValid('doing')">
        <span class="invalid-msg">Please select </span>
      </ion-item>
   

      <ion-item>
        <ion-label>
          2.5.2 ถ้า “ปลูก” มีพื้นที่ปลูกพืชผัก สมุนไพร จ้านวนกี่แปลง
        </ion-label>
      </ion-item>

      <ion-card-content>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวนแปลง" formControlName="fieldCount"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('fieldCount')">
          <span class="invalid-msg">Please fill in </span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    
    <ion-card>
        <ion-card-header>
            แปลงที่ 1
          </ion-card-header>
      <ion-item>
        <ion-label>1) ตั้งอยู่ที่ใด (จังหวัด อำเภอ ตำบล)</ion-label>
      </ion-item>
          <location></location>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          2) ขนาดพื้นที่เท่าไร กี่ไร่ กี่งาน กี่ตารางวา
        </ion-label>
      </ion-item>
      <field-area></field-area>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          3) ที่แปลงนี้ตั้งอยู่ในเขตชลประทานหรือไม่
        </ion-label>
      </ion-item>

      <ion-row radio-group formControlName="irrigationField">
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>อยู่</ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio item-left></ion-radio>
          <ion-label>ไม่อยู่</ion-label>
        </ion-item>
        <ion-item *ngIf="isValid('irrigationField')">
          <span class="invalid-msg">Please fill in </span>
        </ion-item>
      </ion-row>

    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          4) ในรอบ 12 เดือนที่ผ่านมาที่แปลงนี้ปลูก พืชผัก สมุนไพร ชนิดใด (ระบุได้ไม่เกิน 5 ชนิด)
        </ion-label>
      </ion-item>


      <ion-list>
        <ion-item>
          <ion-label>รายชื่อพืช</ion-label>
          <ion-select interface="action-sheet" formControlName="names">
            <ion-option>กระเพรา</ion-option>
            <ion-option>กระเทียม</ion-option>
            <ion-option>ขมิ้น</ion-option>
            <ion-option>ตะไคร้</ion-option>
            <ion-option>มะระ</ion-option>
            <ion-option>พริกไทย</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="isValid('names')">
          <span class="invalid-msg">Please fill in </span>
        </ion-item>
      </ion-list>


    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          5) ลักษณะการปลูกเป็นแบบใด
        </ion-label>
      </ion-item>
      <ion-row radio-group fromControlName="MixedWithPrimaryPlant">
        <ion-item>
          <ion-radio item-left></ion-radio>
          <ion-label>1. แบบปลูกเฉพาะ ไม้ดอกไม้ประดับ เพาะพันธ์ุไม้</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio item-left></ion-radio>
          <ion-label>2. แบบปลูกปะปนกัน กับพืชชนิดอื่น ได้แก่</ion-label>
        </ion-item>
      </ion-row>
      <ion-item>
        <ion-label>รายชื่อพืชที่ปลูกหลัก</ion-label>
        <ion-select>
          <ion-option>ข้าว</ion-option>
          <ion-option>พืชไร่</ion-option>
          <ion-option>ต้นยางพารา</ion-option>
          <ion-option>พืชยืนต้น</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isValid('MixedWithPrimaryPlant')">
        <span class="invalid-msg">Please fill in </span>
      </ion-item>
    </ion-card>

    <water-sources9 [headline]="'6) ที่แปลงนี้ใช้น้้าจากแหล่งใดบ้าง (เลือกได้หลายข้อ)'"></water-sources9>
    
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <button ion-button block type="submit">Save & Next</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>