  <ion-row text-center align-items-cente>
    <ion-col col-1>
      <ion-icon disabled="false" name="pause"></ion-icon>
    </ion-col>
    <ion-col col-1>
      1
    </ion-col>
    <ion-col col-2>
      {{FormItem.get('houseNo').value}}
    </ion-col>
    <ion-col col-3>
      {{FormItem.get('name').value}}
    </ion-col>
    <ion-col col-2>
      0
    </ion-col>
    <ion-col col-2>
      12
    </ion-col>
    <ion-col col-1>
      <button ion-button type="button" color="danger" (click)="DeleteBuilding(FormItem.get('_id').value)">
        ลบ
      </button>
    </ion-col>
  </ion-row>