  <ion-row text-center align-items-center  (click)=goBuildingInfo()>
    <ion-col col-1>
      <ion-icon disabled="false" name="pause"></ion-icon>
    </ion-col>
    <ion-col col-1>
      1
    </ion-col>
    <ion-col col-2>
      124
    </ion-col>
    <ion-col col-3>
      บ้านซอ
    </ion-col>
    <ion-col col-2>
      0
    </ion-col>
    <ion-col col-2>
      12
    </ion-col>
    <ion-col col-1>
      <button ion-button type="button" color="danger">
        ลบ
      </button>
    </ion-col>
  </ion-row>