<ion-list>
  <ion-list-header>
    {{dataWorkEARow?.properties.pro_name}}<br />
    {{dataWorkEARow?.properties.dis_name}}<br />
    {{dataWorkEARow?.properties.tam_name}}<br />
  </ion-list-header>

  <div no-lines>
    <ion-item>
      <h3>
        EA: {{dataWorkEARow?._id}}
      </h3>
      หน่วยตัวอย่าง ลำดับที่ 1
    </ion-item>
  </div>

  <button ion-item icon-start (click)="goHome()">
    <ion-icon name="home"></ion-icon>
    Home
  </button>
  <button ion-item icon-start>
    <ion-icon name="map"></ion-icon>
    ดูแผนที่
  </button>
  <button ion-item icon-start>
    <ion-icon name="flask"></ion-icon>
    มาตราวัด
  </button>
  <button ion-item icon-start>
    <ion-icon name="pause"></ion-icon>
    หยุดชั่วคราว
  </button>
</ion-list>