<div [formGroup]="FormItem">

  <ion-item *ngIf="isValid('province')">
    <span class="invalid-msg">กรุณาเลือกจังหวัด</span>
  </ion-item>
  <ion-item [class.invalid]="isValid('province')">
    <ion-label>จังหวัด</ion-label>
    <ion-select interface="action-sheet" formControlName="province" (ionChange)="onChange($event)">
      <ion-option *ngFor="let item of provinceData">{{ item.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="isValid('district')">
    <span class="invalid-msg">กรุณาเลือกอำเภอ</span>
  </ion-item>
  <ion-item [class.invalid]="isValid('district')">
    <ion-label>อำเภอ</ion-label>
    <ion-select interface="action-sheet" formControlName="district" (ionChange)="onChange1($event)">
      <ion-option *ngFor="let item of district" >{{ item.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="isValid('subDistrict')">
    <span class="invalid-msg">กรุณาเลือกตำบล</span>
  </ion-item>
  <ion-item [class.invalid]="isValid('subDistrict')">
    <ion-label>ตำบล</ion-label>
    <ion-select interface="action-sheet" formControlName="subDistrict">
      <ion-option *ngFor="let item of subDistrict" >{{ item.name }}</ion-option>
    </ion-select>
  </ion-item>

</div>