
<ion-row (click)="showModal()" [formGroup]="FormItem">
  <ion-col col-3>
    <ion-item>
      <ion-label>{{ year }}</ion-label>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" item-left formControlName="count"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" item-left formControlName="avgday"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" item-left formControlName="avghour"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" item-left formControlName="height"></ion-input>
  </ion-col>
</ion-row>