<ion-row [formGroup]="FormItem" (click)="showModal()">
  <ion-col col-2>
    <ion-input text-center type="number" disabled="true" item-left formControlName="year"></ion-input>
  </ion-col>
  <ion-col col-3>
    <ion-input text-center type="number" disabled="true" item-left formControlName="count"></ion-input>
  </ion-col>
  <ion-col col-2>
    <ion-input text-center type="number" disabled="true" item-left formControlName="avgDay"></ion-input>
  </ion-col>
  <ion-col col-2>
    <ion-input text-center type="number" disabled="true" item-left formControlName="avgHour"></ion-input>
  </ion-col>
  <ion-col col-3>
    <ion-input text-center type="number" disabled="true" item-left formControlName="waterHeightCm"></ion-input>
  </ion-col>
</ion-row>