<ion-header>

  <back-to-root title="การผลิตสินค้า"></back-to-root>

</ion-header>

<ion-content padding>
  <h3>ตอนที่ 3 การผลิตสินค้า</h3>

  <form (ngSubmit)="handleSubmit()" [formGroup]="FactoryForm" [rx-form-data]="(formData$ | async)?.factory">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            3.1 ชื่อสถานประกอบการ/หน่วยงาน
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input class="backgroundinput" type="text" placeholder="กรอกข้อมูล" formControlName="name"
            [class.invalid]="isValid('name')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('name')">
          <span class="invalid-msg">
            กรุณากรอกข้อมูล
          </span>
        </ion-item>

        <ion-item>
          <ion-label>
            3.2 สถานประกอบการแห่งนี้ผลิตสินค้าประเภทใด<br> (ระบุสินค้าหลักที่ผลิต)
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input class="backgroundinput" type="text" placeholder="กรอกข้อมูล" formControlName="category"
            [class.invalid]="isValid('category')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('category')">
          <span class="invalid-msg">
            กรุณากรอกข้อมูล
          </span>
        </ion-item>

        <ion-item>
          <ion-label>
            3.3 สถานประกอบการแห่งนี้มีคนทำงานรวมทั้งหมดกี่คน
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input class="backgroundinput" type="number" placeholder="กรอกข้อมูล" formControlName="workersCount"
            [class.invalid]="isValid('workersCount')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('workersCount')">
          <span class="invalid-msg">
            กรุณากรอกข้อมูล
          </span>
        </ion-item>
        <ion-item *ngIf="FactoryForm.get('workersCount').value > 100">
          <ion-icon md="md-warning"></ion-icon>
          <span class="invalid-msg">
            กรุณาตรวจสอบจำนวนคนมีเยอะผิดปกติหรือไม่
          </span>
        </ion-item>

        <ion-item>
          <ion-label>
            3.4 สถานประกอบการแห่งนี้ใช้เครื่องจักรที่มีขนาดแรงม้า<br>ตั้งแต่ 5 แรงม้าหรือ 3,725 วัตต์ขึ้นไป หรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="heavyMachine" [class.invalid]="isValid('heavyMachine')">

          <ion-item *ngIf="isValid('heavyMachine')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>

          <ion-item col-6>
            <ion-label>
              ใช้
            </ion-label>
            <ion-radio [value]="true" item-left></ion-radio>
          </ion-item>
          <ion-item col-6>
            <ion-label>
              ไม่ใช้
            </ion-label>
            <ion-radio [value]="false" item-left></ion-radio>
          </ion-item>

        </ion-row>
      </ion-card-content>
    </ion-card>

    <water-sources8-b [headline]="'3.5 สถานประกอบการแห่งนี้ใช้น้ำจากแหล่งใดบ้าง'"
      [FormItem]="FactoryForm.get('waterSources')"></water-sources8-b>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            3.6 <b>ในรอบ 12 เดือนที่ผ่านมา</b>สถานประกอบการนี้<b><u>มีน้ำเสีย</u></b><br>จากกระบวนการผลิตสินค้าหรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="hasWasteWaterFromProduction"
          [class.invalid]="isValid('hasWasteWaterFromProduction')">

          <ion-item *ngIf="isValid('hasWasteWaterFromProduction')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <ion-item col-6>
            <ion-label>
              มี
            </ion-label>
            <ion-radio [value]="true" item-left></ion-radio>
          </ion-item>
          <ion-item col-6>
            <ion-label>
              ไม่มี
            </ion-label>
            <ion-radio [value]="false" item-left (ionSelect)="setValueFalse()"></ion-radio>
          </ion-item>
        </ion-row>

        <div [ngSwitch]="FactoryForm.get('hasWasteWaterFromProduction').value">
          <div *ngSwitchCase="true">
            <ion-item>
              <ion-label>
                3.7 ถ้า "มี" น้ำเสีย
                สถานประกอบการนี้<b><u>มีการจัดการน้ำเสีย</u></b><br>ที่เกิดจากกระบวนการผลิตสินค้าหรือไม่
              </ion-label>
            </ion-item>

            <ion-row radio-group formControlName="hasWasteWaterTreatment"
              [class.invalid]="isValid('hasWasteWaterTreatment')">

              <ion-item *ngIf="isValid('hasWasteWaterTreatment')">
                <span class="invalid-msg">
                  กรุณาเลือก
                </span>
              </ion-item>
              <ion-item col-6>
                <ion-label>
                  มี
                </ion-label>
                <ion-radio [value]="true" item-left></ion-radio>
              </ion-item>
              <ion-item col-6>
                <ion-label>
                  ไม่มี
                </ion-label>
                <ion-radio [value]="false" item-left></ion-radio>
              </ion-item>
            </ion-row>
          </div>
        </div>

        <ion-item>
          <ion-label>
            3.8 <b>ในรอบ 12
              เดือนที่ผ่านมา</b>สถานประกอบการนี้มีการนำ<b><br>น้ำที่ผ่านกระบวนการผลิตสินค้าแล้วกลับมาใช้ใหม่</b>หรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="wasteWaterReuse" [class.invalid]="isValid('wasteWaterReuse')">
          <ion-item *ngIf="isValid('wasteWaterReuse')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <ion-item col-6>
            <ion-label>
              มี
            </ion-label>
            <ion-radio [value]="true" item-left></ion-radio>
          </ion-item>
          <ion-item col-6>
            <ion-label>
              ไม่มี
            </ion-label>
            <ion-radio [value]="false" item-left></ion-radio>
          </ion-item>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="invalid-msg" *ngIf="FactoryForm.invalid && submitRequested">
      <ion-card-header>
        กรุณาตรวจสอบข้อมูลในแบบสำรวจ
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="warning" item-start></ion-icon>
        ไม่สามารถบันทึกข้อมูลในฟอร์มสำรวจได้ โปรดตรวจแก้ไขข้อผิดพลาดด้านบนให้เรียบร้อยแล้วลองบันทึกอีกครั้ง
      </ion-card-content>
    </ion-card>

    <form-buttons-bar frontNum="{{frontNum}}" backNum="{{backNum}}"></form-buttons-bar>

  </form>

</ion-content>