<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>เลือกพื้นที่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>


      <ion-card-header>
        <ion-card-title>สำรวจพื้นที่อื่น</ion-card-title>
      </ion-card-header>
      <ion-row text-center align-items-center>
        <ion-col>
          <ion-item>
            <ion-label>
              จังหวัด
            </ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="cwt" (ionChange)="onChange($event)">
              <ion-option *ngFor="let item of provinceData">{{ item.name }}</ion-option>
            </ion-select>
            <!-- <ion-input [(ngModel)]="cwt" type="text" placeholder="กรอกข้อมูล"></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              อำเภอ
            </ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="amp" (ionChange)="onChange1($event)">
              <ion-option *ngFor="let item of district">{{ item.name }}</ion-option>
            </ion-select>
            <!-- <ion-input [(ngModel)]="amp" type="text" placeholder="กรอกข้อมูล"></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              ตำบล
            </ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="tam" (ionChange)="onChange2($event)">
              <ion-option *ngFor="let item of subDistrict">{{ item.name }}</ion-option>
            </ion-select>
            <!-- <ion-input [(ngModel)]="tam" type="text" placeholder="กรอกข้อมูล"></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col>
          <button ion-button type="button" color="secondary" (click)="goConfirmSeletEAPage()">
            บันทึก
          </button>
        </ion-col>
      </ion-row>

      <ion-card-header>
        <ion-card-title>สำรวจพื้นที่เดิม</ion-card-title>
      </ion-card-header>
      <ion-row text-center align-items-center>
        <ion-col>
          <b>จังหวัด</b>
        </ion-col>
        <ion-col>
          <b>อำเภอ</b>
        </ion-col>
        <ion-col>
          <b>ตำบล</b>
        </ion-col>
        <!-- <ion-col>
          <b>เขตการปกครอง</b>
        </ion-col>
        <ion-col>
          <b>เทศบาล</b>
        </ion-col>
        <ion-col>
          <b>หมู่บ้าน</b>
        </ion-col>
        <ion-col>
          <b>EA</b>
        </ion-col> -->
        <ion-col>
        </ion-col>
      </ion-row>
      <hr>

      <ion-row *ngFor="let item of listOfEAs " text-center align-items-center>
        <ion-col>
          {{ item.CWT_NAME }}
        </ion-col>
        <ion-col>
          {{ item.AMP_NAME }}
        </ion-col>
        <ion-col>
          {{ item.TAM_NAME }}
        </ion-col>
        <!-- <ion-col>
          {{ (item.DISTRICT == 2 ? 'นอกเขตฯ' : 'ในเขตฯ') }}
        </ion-col>
        <ion-col>
          {{ item.MUN_NAME }}{{ item.TAO_NAME }}
        </ion-col>
        <ion-col>
          {{ item.VIL_NAME}}
        </ion-col>
        <ion-col>
          {{ item.EA }}
        </ion-col> -->
        <ion-col>
          <button ion-button type="button" color="secondary" (click)="goContinuseSeletEAPage(item)">
            สำรวจต่อ
          </button>
          <button ion-button type="button" color="danger" (click)="deleteEA(item.code)">
            ลบ
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>