<ion-header>

  <questionnaire-menu title="ข้าว "></questionnaire-menu>

</ion-header>
<ion-content padding>

  <h3>ตอนที่ 2.1 ข้าว</h3>
  <form (ngSubmit)="handleSubmit()" [formGroup]="ricePlant">

    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label>
            2.1.1 ในรอบ 12 เดือนที่ผ่านมาครัวเรือนนี้ได้ปลูกข้าวเอง หรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="doing">
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>1. ปลูก</ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>2. ไม่ปลูก</ion-label>
          </ion-item>
        </ion-row>


        <ion-item *ngIf="isValid('doing')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>

        <ion-item>
          <ion-label>
            2.1.2 ถ้า "ปลูกข้าว" มีแปลงนาจำนวนกี่แปลง
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวนแปลง" formControlName="fieldCount"></ion-input>
        </ion-item>

        <ion-item *ngIf="isValid('fieldCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div formGroupName="fields">
          <ion-item>
            <ion-label>
              แปลงที่ 1
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label> 1) ตั้งอยู่ที่ใด (จังหวัด อำเภอ ตำบล)</ion-label>
          </ion-item>

          <location></location>


          <ion-item>
            <ion-label>
              2) ขนาดพื้นที่เท่าไหร กี่ไร่ กี่งาน กี่ตาราง
            </ion-label>
          </ion-item>
          <field-area></field-area>


          <ion-item>
            <ion-label>
              3) ในรอบ 12 เดือนที่ผ่านมาใช้พื้นที่นี้ทำนากี่ครั้ง (ไม่เกิน 4 ครั้ง)
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-input type="number" placeholder="กรอกจำนวน" formControlName="plantingCount" [class.invalid]="isValid('fields.plantingCount')"></ion-input>
          </ion-item>

          <ion-item *ngIf="isValid('fields.plantingCount')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>




          <ion-item>
            <ion-label>
              4) แต่ละครั้งทำกี่ไร่
            </ion-label>
          </ion-item>

          <ion-row radio-group formControlName="plantingArea" [class.invalid]="isValid('fields.plantingArea')">
            <ion-item *ngIf="isValid('fields.plantingArea')">
              <span class="invalid-msg">Please fill in name</span>
            </ion-item>
            <ion-item>
              <ion-radio value="1" item-left></ion-radio>
              <ion-label>ทำทั้งแปลงทุกครั้ง</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio value="2" item-left></ion-radio>
              <ion-label>ไม่ได้ทำทั้งแปลง แต่ทำ<b>เท่ากัน</b>ทุกครั้ง</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio value="3" item-left></ion-radio>
              <ion-label>ไม่ได้ทำทั้งแปลง และ<i>ไม่ได้</i>ทำ<b>เท่ากัน</b>ทุกครั้ง</ion-label>
            </ion-item>
          </ion-row>


          <div [ngSwitch]="ricePlant.get('fields.plantingArea').value">
            <div *ngSwitchCase="2">
              <ion-item>
                <ion-label>ทำเท่ากันทุกแปลง</ion-label>
              </ion-item>
              <field-area [FormItem]="ricePlant.get('fields.areaUsed').at(0)"></field-area>
            </div>
            <div *ngSwitchCase="3">
              <ion-item>
                <ion-label>ไม่ได้ทำเท่ากันทุกครั้ง</ion-label>
              </ion-item>
              <div *ngFor="let far of ricePlant.get('fields.areaUsed').controls; let i = index">
                <field-area headline="ครั้งที่ {{ i + 1 }} " [FormItem]="far"></field-area>
              </div>
            </div>
          </div>

        </div>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            ทำนาครั้งที่ 1
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>5.1) การทำนาครั้งที่ 1 เริ่มทำนาเดือนไหนถึงเดือนไหน</ion-label>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>ครั้งที่ 1 เริ่ม</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>เดือน</ion-label>

              <ion-select interface="action-sheet" formControlName="plantingFromMonth">
                <ion-option>มกราคม</ion-option>
                <ion-option>กุมภาพันธ์</ion-option>
                <ion-option>มีนาคม</ion-option>
                <ion-option>เมษายน</ion-option>
                <ion-option>พฤษภาคม</ion-option>
                <ion-option>มิถุนายน</ion-option>
                <ion-option>กรกฎาคม</ion-option>
                <ion-option>สิงหาคม</ion-option>
                <ion-option>กันยายน</ion-option>
                <ion-option>ตุลาคม</ion-option>
                <ion-option>พฤศจิกายน</ion-option>
                <ion-option>ธันวาคม</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isValid('plantingFromMonth')">
              <span class="invalid-msg">กรุณาเลือก</span>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>ถึง</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>เดือน</ion-label>
              <ion-select interface="action-sheet" formControlName="plantingThruMonth">
                <ion-option>มกราคม</ion-option>
                <ion-option>กุมภาพันธ์</ion-option>
                <ion-option>มีนาคม</ion-option>
                <ion-option>เมษายน</ion-option>
                <ion-option>พฤษภาคม</ion-option>
                <ion-option>มิถุนายน</ion-option>
                <ion-option>กรกฎาคม</ion-option>
                <ion-option>สิงหาคม</ion-option>
                <ion-option>กันยายน</ion-option>
                <ion-option>ตุลาคม</ion-option>
                <ion-option>พฤศจิกายน</ion-option>
                <ion-option>ธันวาคม</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isValid('plantingThruMonth')">
              <span class="invalid-msg">กรุณาเลือก</span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label> 6.1) การทำนาครั้งที่ 1 ปล่อยน้ำเข้ากี่ครั้ง</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="waterFillingCount"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('waterFillingCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>


        <ion-item>
          <ion-label> 7.1) การทำนาครั้งที่ 1 โดยเฉลี่ยปล่อยน้ำสูงกี่เซนติเมตร</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="waterHigh"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('waterHigh')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>


      </ion-card-content>
    </ion-card>

    <ion-card>

      <ion-card-content>
        <ion-item>
          <ion-label>
            ทำนาครั้งที่ 2
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>5.2) การทำนาครั้งที่ 2 เริ่มทำนาเดือนไหนถึงเดือนไหน</ion-label>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>ครั้งที่ 1 เริ่ม</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>เดือน</ion-label>
              <ion-select interface="action-sheet" formControlName="plantingFromMonth">
                <ion-option>มกราคม</ion-option>
                <ion-option>กุมภาพันธ์</ion-option>
                <ion-option>มีนาคม</ion-option>
                <ion-option>เมษายน</ion-option>
                <ion-option>พฤษภาคม</ion-option>
                <ion-option>มิถุนายน</ion-option>
                <ion-option>กรกฎาคม</ion-option>
                <ion-option>สิงหาคม</ion-option>
                <ion-option>กันยายน</ion-option>
                <ion-option>ตุลาคม</ion-option>
                <ion-option>พฤศจิกายน</ion-option>
                <ion-option>ธันวาคม</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isValid('fields.plantingArea')">
              <span class="invalid-msg">กรุณาเลือก</span>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>ถึง</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>เดือน</ion-label>
              <ion-select interface="action-sheet" formControlName="plantingThruMonth">
                <ion-option>มกราคม</ion-option>
                <ion-option>กุมภาพันธ์</ion-option>
                <ion-option>มีนาคม</ion-option>
                <ion-option>เมษายน</ion-option>
                <ion-option>พฤษภาคม</ion-option>
                <ion-option>มิถุนายน</ion-option>
                <ion-option>กรกฎาคม</ion-option>
                <ion-option>สิงหาคม</ion-option>
                <ion-option>กันยายน</ion-option>
                <ion-option>ตุลาคม</ion-option>
                <ion-option>พฤศจิกายน</ion-option>
                <ion-option>ธันวาคม</ion-option>
              </ion-select>
            </ion-item>

            <ion-item *ngIf="isValid('plantingThruMonth')">
              <span class="invalid-msg">กรุณาเลือก</span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label>6.2) การทำนาครั้งที่ 2 ปล่อยน้ำเข้ากี่ครั้ง</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="waterFillingCount"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('waterFillingCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

        <ion-item>
          <ion-label>7.2) การทำนาครั้งที่ 2 โดยเฉลี่ยปล่อยน้ำสูงกี่เซนติเมตร</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="waterHigh"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('waterHigh')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            8) ที่แปลงนี้ตั้งอยู่ในเขตชลประทานหรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="irrigationField">
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>1. อยู่</ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>2. ไม่อยู่</ion-label>
          </ion-item>
        </ion-row>
        <ion-item *ngIf="isValid('irrigationField')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <water-sources8-a headline="9) นาแปลงนี้ใช้น้ำจากแหล่งใดบ้าง(เลือกได้หลายข้อ)"></water-sources8-a>

    <ion-card>
      <ion-card-content>
        <div formGroupName="fields">
          <ion-item>
            <ion-label>
              แปลงที่ 2
            </ion-label>
          </ion-item>
          <location></location>

          <ion-item>
            <ion-label>
              2) ขนาดพื้นที่เท่าไหร กี่ไร่ กี่งาน กี่ตาราง
            </ion-label>
          </ion-item>
          <field-area></field-area>

          <ion-item>
            <ion-label>
              3) ในรอบ 12 เดือนที่ผ่านมาใช้พื้นที่นี้ทำนากี่ครั้ง (ไม่เกิน 4 ครั้ง)
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-input formControlName="plantingCount" [class.invalid]="isValid('fields.plantingCount')"></ion-input>

          </ion-item>

          <ion-item *ngIf="isValid('fields.plantingCount')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>



          <ion-item>
            <ion-label>
              4) แต่ละครั้งทำกี่ไร่
            </ion-label>
          </ion-item>
          <ion-row radio-group formControlName="plantingArea" [class.invalid]="isValid('fields.plantingArea')">
            <ion-item>
              <ion-radio item-left></ion-radio>
              <ion-label>ทำทั้งแปลงทุกครั้ง</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio item-left></ion-radio>
              <ion-label>ถ้าไม่ได้ทำทั้งแปลง ทำเท่ากันหรือไม่</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio item-left></ion-radio>
              <ion-label>ไม่ได้ทำเท่ากันทุกครั้ง</ion-label>
            </ion-item>
          </ion-row>
          <ion-item *ngIf="isValid('fields.plantingArea')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>

          <ion-item>
            <ion-label> ทำเท่ากันทุกแปลง</ion-label>
          </ion-item>

          <field-area></field-area>


          <ion-item>
            <ion-label>ไม่ได้ทำเท่ากันทุกครั้ง</ion-label>
          </ion-item>
          <field-area></field-area>
          <field-area></field-area>
          <field-area></field-area>

        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            ทำนาครั้งที่ 1
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            5.1) การทำนาครั้งที่ 1 เริ่มทำนาเดือนไหนถึงเดือนไหน
          </ion-label>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>ครั้งที่ 1 เริ่ม</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>เดือน</ion-label>
              <ion-select formControlName="plantingFromMonth">
                <ion-option>มกราคม</ion-option>
                <ion-option>กุมภาพันธ์</ion-option>
                <ion-option>มีนาคม</ion-option>
                <ion-option>เมษายน</ion-option>
                <ion-option>พฤษภาคม</ion-option>
                <ion-option>มิถุนายน</ion-option>
                <ion-option>กรกฎาคม</ion-option>
                <ion-option>สิงหาคม</ion-option>
                <ion-option>กันยายน</ion-option>
                <ion-option>ตุลาคม</ion-option>
                <ion-option>พฤศจิกายน</ion-option>
                <ion-option>ธันวาคม</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-item *ngIf="isValid('plantingFromMonth')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>ถึง</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>เดือน</ion-label>
              <ion-select formControlName="plantingThruMonth">
                <ion-option>มกราคม</ion-option>
                <ion-option>กุมภาพันธ์</ion-option>
                <ion-option>มีนาคม</ion-option>
                <ion-option>เมษายน</ion-option>
                <ion-option>พฤษภาคม</ion-option>
                <ion-option>มิถุนายน</ion-option>
                <ion-option>กรกฎาคม</ion-option>
                <ion-option>สิงหาคม</ion-option>
                <ion-option>กันยายน</ion-option>
                <ion-option>ตุลาคม</ion-option>
                <ion-option>พฤศจิกายน</ion-option>
                <ion-option>ธันวาคม</ion-option>
              </ion-select>
            </ion-item>

          </ion-col>

          <ion-item *ngIf="isValid('plantingThruMonth')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>
        </ion-row>

        <ion-item>
          <ion-label>
            6.1) การทำนาครั้งที่ 1 ปล่อยน้ำเข้ากี่ครั้ง
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="waterFillingCount"></ion-input>
        </ion-item>




        <ion-item *ngIf="isValid('waterFillingCount')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

        <ion-item>
          <ion-label>
            7.1) การทำนาครั้งที่ 1 โดยเฉลี่ยปล่อยน้ำสูงกี่เซนติเมตร
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน" formControlName="waterHigh"></ion-input>
        </ion-item>


        <ion-item *ngIf="isValid('waterHigh')">
          <span class="invalid-msg">กรุณากรอกจำนวน</span>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            8) ที่แปลงนี้ตั้งอยู่ในเขตชลประทานหรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="irrigationField">
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>1. อยู่</ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>2. ไม่อยู่</ion-label>
          </ion-item>
        </ion-row>

        <ion-item *ngIf="isValid('irrigationField')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>

      </ion-card-content>
    </ion-card>
    <water-sources8-a headline="9) นาแปลงนี้ใช้น้ำจากแหล่งใดบ้าง(เลือกได้หลายข้อ)"></water-sources8-a>

    <form-buttons-bar></form-buttons-bar>

  </form>


  <!-- <water-sources8-a></water-sources8-a> -->
</ion-content>