<div [formGroup]="FormItem">

  <button padding>

    <ion-row>
      <ion-col text-left>
        <h3># {{unitNo}}</h3>
      </ion-col>
      <ion-col text-right *ngIf="status != 'play'" (click)="showModalSetting()">
        <ion-icon name="settings" style="zoom: 1.5;"></ion-icon>
      </ion-col>
    </ion-row>

    <div text-center class="{{status}}">
      <ion-grid no-padding>
        <ion-row>
          <ion-col (click)="showModal()" style="padding-top: 20px">
            ห้องที่ {{roomNumber}}
          </ion-col>
          <ion-col col-3 no-padding *ngIf="allComment != ''">
            <button ion-button clear (click)="showComment()"></button>
          </ion-col>
        </ion-row>
        <ion-row>
          <button ion-button clear full style="height: 150px" (click)="showModal()"></button>
        </ion-row>
      </ion-grid>
    </div>
  </button>
</div>