<ion-card>
  <ion-card-content>
    <div [formGroup]="FormItem">
        <!-- 1) เป็นเครื่องสูบอัตโนมัติ ใช่หรือไม่ -->
      <ion-item>
        <ion-label>เครื่องที่ {{ text }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1) เป็นเครื่องสูบอัตโนมัติ ใช่หรือไม่</ion-label>
      </ion-item>

      <div radio-group formControlName="pumpAuto">
        <ion-row>
          <ion-item col-6>
            <ion-label>ใช่</ion-label>
            <ion-radio value="1" item-left></ion-radio>
          </ion-item>
          <ion-item col-6>
            <ion-label>ไม่ใช่</ion-label>
            <ion-radio value="2" item-left></ion-radio>
          </ion-item>
        </ion-row>

      </div>
      <!-- 2) ใช้ระยะเวลาในการสูบน้ำต่อครั้งนานเท่าไร (ให้ประมาณน้ำทุกกิจกรรมรวมกัน) -->
      <div [ngSwitch]="FormItem.get('pumpAuto').value">
        <div *ngSwitchCase="1">
          <ion-item>
            <ion-label>2) ใช้ระยะเวลาในการสูบน้ำต่อครั้งนานเท่าไร (ให้ประมาณน้ำทุกกิจกรรมรวมกัน)</ion-label>
          </ion-item>
          <div [ngSwitch]="FormItem.get('unknowHoursPerPump').value">
            <ion-row radio-group formControlName="unknowHoursPerPump">
              <ion-col col-6>
                <ion-item>
                  <ion-label>ทราบ</ion-label>
                  <ion-radio value="1" item-left></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col col-6>
                <ion-item>
                  <ion-label>ไม่ทราบ</ion-label>
                  <ion-radio value="2" item-left></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>

            <div [ngSwitch]="FormItem.get('unknowHoursPerPump').value">
              <div *ngSwitchCase="1">
                <ion-item>
                  <ion-label>ทราบระยะเวลาในการสูบน้ำ(ชม.)</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input type="number" placeholder="จำนวนการใช้น้ำ"></ion-input>
                </ion-item>
              </div>
            </div>
          </div>

          <!-- 3) ในระยะเวลา 1 ปีสูบน้ำกี่ครั้ง -->
          <ion-item>
            <ion-label>3) ในระยะเวลา 1 ปีสูบน้ำกี่ครั้ง</ion-label>
          </ion-item>
          <ion-item>
            <ion-input type="number" placeholder="จำนวนครั้ง"></ion-input>
          </ion-item>
          
          <!-- 4) มีอัตราการสูบเท่าไร -->
          <ion-item>
            <ion-label>4) มีอัตราการสูบเท่าไร</ion-label>
          </ion-item>

          <div formGroupName="pumpRate">
            <ion-row radio-group formControlName="knowPumpRate">
              <ion-col col-6>
                <ion-item>
                  <ion-label>ทราบ</ion-label>
                  <ion-radio value="1" item-left></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label>ไม่ทราบ</ion-label>
                  <ion-radio value="2" item-left></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div [ngSwitch]="FormItem.get('pumpRate.knowPumpRate').value">
            <div *ngSwitchCase="1">
              <ion-item>
                <ion-label>ทราบอัตราการสูบน้ำ(ลบ.ม./ชม.)</ion-label>
              </ion-item>
              <ion-item>
                <ion-input tyep="number" placeholder="อัตราการสูบน้ำ"></ion-input>
              </ion-item>
            </div>
          </div>

          <machine-water></machine-water>
        </div>

      </div>
    </div>
  </ion-card-content>
</ion-card>