<ion-card [formGroup]="FormItem">
  <ion-card-content>

    <!-- 1) เป็นเครื่องสูบอัตโนมัติ ใช่หรือไม่ -->
    <ion-item>
      <ion-label>
        <b>เครื่องที่ {{ text }}</b>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        1) เป็นเครื่องสูบอัตโนมัติ ใช่หรือไม่
      </ion-label>
    </ion-item>

    <ion-row radio-group formControlName="pumpAuto" [class.invalid]="isValid('pumpAuto')">
      <ion-item col-6>
        <ion-label>
          ใช่
        </ion-label>
        <ion-radio value="1" item-left></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>
          ไม่ใช่
        </ion-label>
        <ion-radio value="2" item-left></ion-radio>
      </ion-item>
      <ion-item *ngIf="isValid('pumpAuto')">
        <span class="invalid-msg">
          กรุณาเลือก
        </span>
      </ion-item>
    </ion-row>
    <!-- 2) ใช้ระยะเวลาในการสูบน้ำต่อครั้งนานเท่าไร (ให้ประมาณน้ำทุกกิจกรรมรวมกัน) -->
    <ion-item>
      <ion-label>
        2) ใช้ระยะเวลาในการสูบน้ำต่อครั้งเท่าไร
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="จำนวนการใช้น้ำ (ชม.)" formControlName="hoursPerPump" [class.invalid]="isValid('hoursPerPump')"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('hoursPerPump')">
      <span class="invalid-msg">
        กรุณากรอก
      </span>
    </ion-item>

    <!-- 3) ในระยะเวลา 1 ปีสูบน้ำกี่ครั้ง -->
    <ion-item>
      <ion-label>
        3) ในระยะเวลา 1 ปีสูบน้ำกี่ครั้ง
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="จำนวนครั้ง" formControlName="numberOfPumpsPerYear" [class.invalid]="isValid('numberOfPumpsPerYear')"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('numberOfPumpsPerYear')">
      <span class="invalid-msg">
        กรุณากรอก
      </span>
    </ion-item>

    <!-- 4) มีอัตราการสูบเท่าไร -->
    <ion-item>
      <ion-label>
        4) มีอัตราการสูบเท่าไร
      </ion-label>
    </ion-item>

    <ion-row radio-group formControlName="hasPumpRate" [class.invalid]="isValid('hasPumpRate')">
      <ion-item *ngIf="isValid('hasPumpRate')">
        <span class="invalid-msg">
          กรุณาเลือก
        </span>
      </ion-item>
      <ion-col col-6>
        <ion-item>
          <ion-label>
            ทราบ
          </ion-label>
          <ion-radio value="1" item-left></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>
            ไม่ทราบ
          </ion-label>
          <ion-radio value="2" item-left></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>

    <div [ngSwitch]="FormItem.get('hasPumpRate').value">
      <div *ngSwitchCase="1">
        <ion-item>
          <ion-input tyep="number" placeholder="อัตราการสูบน้ำ (ลบ.ม./ชม.)" formControlName="pumpRate" [class.invalid]="isValid('pumpRate')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('pumpRate')">
          <span class="invalid-msg">
            กรุณากรอก
          </span>
        </ion-item>
      </div>
    </div>

    <ion-item>
      <ion-label>
        5) เครื่องสูบน้ำใช้แหล่งพลังงานจากที่ใด
      </ion-label>
    </ion-item>

    <ion-row radio-group formControlName="energySource" [class.invalid]="isValid('energySource')">
      <ion-item *ngIf="isValid('energySource')">
        <span class="invalid-msg">
          กรุณาเลือก
        </span>
      </ion-item>
      <ion-item>
        <ion-label>
          ใช้ไฟฟ้า
        </ion-label>
        <ion-radio value="1" item-left></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>
          ใช้น้ำมันดีเซล(โซล่า)
        </ion-label>
        <ion-radio value="2" item-left></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>
          ใช้น้ำมันเบนซิน
        </ion-label>
        <ion-radio value="3" item-left></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>
          รถไถเดินตาม
        </ion-label>
        <ion-radio value="4" item-left></ion-radio>
      </ion-item>

    </ion-row>

    <ion-item>
      <ion-label>
        6) เครื่องสูบชนิดใด
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        ชนิดเครื่องสูบ
      </ion-label>
      <ion-select interface="action-sheet" formControlName="pumpType" [class.invalid]="isValid('pumpType')">
        <ion-option>
          ปั๊มซับเมิร์ส/ปั๊มแบบจุ่ม
        </ion-option>
        <ion-option>
          ปั๊มเจ็ท/ ปั๊มน้ำอัตโนมัติสำหรับดูดน้ำลึก
        </ion-option>
        <ion-option>
          ปั๊มหอยโข่ง
        </ion-option>
        <ion-option>
          ปั๊มชัก
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isValid('pumpType')">
      <span class="invalid-msg">
        กรุณาเลือก
      </span>
    </ion-item>

    <ion-item>
      <ion-label>
        7) ขนาดวัตต์/แรงม้าเท่าไร
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        วัตต์/ขนาดแรงม้า
      </ion-label>
      <ion-select interface="action-sheet" formControlName="horsePower" [class.invalid]="isValid('horsePower')">
        <ion-option>
          200-500 / 0.2 - 0.7
        </ion-option>
        <ion-option>
          501-1000 / 0.7 - 1.5
        </ion-option>
        <ion-option>
          1401-2000 / 2.5 - 4
        </ion-option>
        <ion-option>
          15001-20000 / 20 - 25
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isValid('horsePower')">
      <span class="invalid-msg">
        กรุณาเลือก
      </span>
    </ion-item>

    <ion-item>
      <ion-label>
        8) ขนาดท่อดูดเท่าไร (นิ้ว)
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        ขนาดท่อดูด
      </ion-label>
      <ion-select interface="action-sheet" formControlName="suctionPipeSize" [class.invalid]="isValid('suctionPipeSize')">
        <ion-option>
          1/2-1
        </ion-option>
        <ion-option>
          1/2-1 (1/2)
        </ion-option>
        <ion-option>
          1-3
        </ion-option>
        <ion-option>
          1-4
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isValid('suctionPipeSize')">
      <span class="invalid-msg">
        กรุณาเลือก
      </span>
    </ion-item>

    <ion-item>
      <ion-label>
        9) ขนาดท่อส่งเท่าไร (นิ้ว)
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        ขนาดท่อส่ง
      </ion-label>
      <ion-select interface="action-sheet" formControlName="pipelineSize" [class.invalid]="isValid('pipelineSize')">
        <ion-option>
          1/2-2
        </ion-option>
        <ion-option>
          1/2-3
        </ion-option>
        <ion-option>
          2-3
        </ion-option>
        <ion-option>
          4
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isValid('pipelineSize')">
      <span class="invalid-msg">
        กรุณาเลือก
      </span>
    </ion-item>

  </ion-card-content>
</ion-card>