<div [formGroup]="FormItem">

  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label>
          5.2.3 <b>บ่อที่ {{ text }}</b>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          1) ในรอบ 1 ปีที่ผ่านมา ใช้น้ำปริมาณเท่าไรต่อเดือนโดยเฉลี่ย
        </ion-label>
      </ion-item>

      <div formGroupName="usageType">
        <ion-row radio-group formControlName="groundWaterQuantity" [class.invalid]="isValid('usageType.groundWaterQuantity')">
          <ion-item *ngIf="isValid('usageType.groundWaterQuantity')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <ion-item>
            <ion-radio [value]="1" item-left></ion-radio>
            <ion-label>
              ทราบปริมาณน้ำ
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-radio [value]="2" item-left></ion-radio>
            <ion-label>
              ไม่ทราบ ถามค่าน้ำ
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-radio [value]="3" item-left></ion-radio>
            <ion-label>
              ไม่ทราบทั้งปริมาณน้ำ และค่าน้ำ
            </ion-label>
          </ion-item>
        </ion-row>

        <div [ngSwitch]="FormItem.get('usageType.groundWaterQuantity').value">
          <div *ngSwitchCase="1">
            <ion-item>
              <ion-label>
                ปริมาณน้ำ (ลบ.ม./เดือน)
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="usageCubicMeters" [class.invalid]="isValid('usageType.usageCubicMeters')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('usageType.usageCubicMeters')">
              <span class="invalid-msg">
                กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </div>
          <div *ngSwitchCase="2">
            <ion-item>
              <ion-label>
                ค่าน้ำ (บาท)
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="waterBill" [class.invalid]="isValid('usageType.waterBill')"></ion-input>
            </ion-item>
            <ion-item *ngIf="isValid('usageType.waterBill')">
              <span class="invalid-msg">
                กรุณากรอกข้อมูล
              </span>
            </ion-item>
          </div>
        </div>
      </div>

      <ion-item>
        <ion-label>
          2) ใช้เครื่องสูบน้ำเพื่อสูบน้ำหรือไม่
        </ion-label>
      </ion-item>

      <ion-row radio-group formControlName="hasPump" [class.invalid]="isValid('hasPump')">
        <ion-item *ngIf="isValid('hasPump')">
          <span class="invalid-msg">
            กรุณาเลือก
          </span>
        </ion-item>
        <ion-item col-6>
          <ion-radio [value]="true" item-left></ion-radio>
          <ion-label>
            ใช้
          </ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio [value]="false" item-left></ion-radio>
          <ion-label>
            ไม่ใช้
          </ion-label>
        </ion-item>
      </ion-row>

      <div [ngSwitch]="FormItem.get('hasPump').value">
        <div *ngSwitchCase="true">
          <ion-item>
            <ion-label>
              3) บ่อนี้ใช้เครื่องสูบน้ำกี่เครื่อง
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="pumpCount" [class.invalid]="isValid('pumpCount')"></ion-input>
          </ion-item>
          <ion-item *ngIf="isValid('pumpCount')">
            <span class="invalid-msg">
              กรุณากรอกข้อมูล
            </span>
          </ion-item>
        </div>
      </div>

    </ion-card-content>
  </ion-card>

  <div *ngIf="FormItem.get('hasPump').value && FormItem.get('pumpCount').value > 0">
    <div *ngFor="let p of FormItem.get('pumps').controls; let i = index">
      <pump [no]="i + 1" [FormItem]="p"></pump>
    </div>
  </div>

  <div *ngIf="residenceUse == 'true' || gardeningUse == 'true' || agricultureUse == 'true' || factoryUse == 'true' || commerceUse == 'true' || riceDoing == 'true'">
  <ion-card>
    <ion-card-content>
        <water-activity6 doing="{{riceDoing}}" usee="{{gardeningUse}}" commerce="{{commerceUse}}" factory="{{factoryUse}}"
          residence="{{residenceUse}}" agriculture="{{agricultureUse}}" headline="5) ใช้น้ำจากบ่อนี้เพื่อทำกิจกรรมใดบ้างคิดเป็นสัดส่วนเท่าไร"
          [FormItem]="FormItem.get('waterActivities')"></water-activity6>
        </ion-card-content>
      </ion-card>
    </div>

  <ion-card>
    <water-problem6 headline="6) มีปัญหาคุณภาพน้ำ หรือไม่" [FormItem]="FormItem.get('qualityProblem')"></water-problem6>
  </ion-card>

</div>