<ion-header>

  <ion-navbar>
    <ion-title>คนที่ {{ text }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="FormItem" (ngSubmit)="okDialog()">
    <ion-item>
      <ion-label>1) คำนำหน้าชื่อ</ion-label>
    </ion-item>

    <ion-item *ngIf="isValid('nameTitle')">
      <span class="invalid-msg">กรุณาเลือก</span>
    </ion-item>
    <ion-item [class.invalid]="isValid('nameTitle')">
      <ion-label>คำนำหน้า</ion-label>
      <ion-select interface="action-sheet" formControlName="nameTitle">
        <ion-option [value]="1">นาย</ion-option>
        <ion-option [value]="2">นาง</ion-option>
        <ion-option [value]="3">นางสาว</ion-option>
        <ion-option [value]="4">เด็กชาย</ion-option>
        <ion-option [value]="5">เด็กหญิง</ion-option>
        <ion-option [value]="6">อื่นๆ</ion-option>
      </ion-select>
    </ion-item>

    <div [ngSwitch]="FormItem.get('nameTitle').value">
      <div *ngSwitchCase="6">
        <ion-item>
          <ion-label>โปรดระบุ</ion-label>
          <ion-input [class.invalid]="FormItem.get('otherTitle').value == null" formControlName="otherTitle">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="FormItem.get('otherTitle').value == null">
          <span class="invalid-msg">กรุณากรอกข้อมูล</span>
        </ion-item>
      </div>
    </div>

    <ion-item>
      <ion-label>2) ชื่อตัว</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="กรอกข้อมูล" formControlName="firstName"
        [class.invalid]="isValid('firstName')"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('firstName')">
      <span class="invalid-msg">กรุณากรอกข้อมูล</span>
    </ion-item>

    <ion-item>
      <ion-label>3) ชื่อสกุล</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="กรอกข้อมูล" formControlName="lastName" [class.invalid]="isValid('lastName')">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('lastName')">
      <span class="invalid-msg">กรุณากรอกข้อมูล</span>
    </ion-item>

    <ion-item>
      <ion-label>4) ความเกี่ยวพันกับหัวหน้าครัวเรือน</ion-label>
    </ion-item>
    <ion-item *ngIf="isValid('relationship')">
      <span class="invalid-msg">กรุณาเลือก</span>
    </ion-item>
    <ion-item *ngIf="isCheckHeadfamily()">
      <span class="invalid-msg">
        ครัวเรือนมีหัวหน้าครัวเรือนได้เพียงคนเดียว
      </span>
    </ion-item>
    <ion-item [class.invalid]="isValid('relationship')">
      <ion-label>ความเกี่ยวพันกับหัวหน้าครัวเรือน</ion-label>
      <ion-select interface="action-sheet" formControlName="relationship">
        <ion-option [value]="1">1.หัวหน้าครัวเรือน</ion-option>
        <ion-option [value]="2">2.ภรรยาหรือสามี</ion-option>
        <ion-option [value]="3">3.บุตร ยังไมได้สมรส (รวมบุตรเลี้ยงและบุตรบุญธรรม)</ion-option>
        <ion-option [value]="4">4.บุตร ที่สมรสแล้ว (รวมบุตรเลี้ยงและบุตรบุญธรรม)</ion-option>
        <ion-option [value]="5">5.บุตรเขย บุตรสะใภ้</ion-option>
        <ion-option [value]="6">6.บุตรของบุตร</ion-option>
        <ion-option [value]="7">7.พ่อ แม่ พ่อแม่คู่สมรส</ion-option>
        <ion-option [value]="8">8.ญาติอื่นๆ</ion-option>
        <ion-option [value]="9">9.ผู้อาศัย/คนรับใช้/คนงาน</ion-option>
        <ion-option [value]="10">10.คนงาน/พระสงฆ์/เณร/อื่นๆ</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>5) เพศ</ion-label>
    </ion-item>
    <ion-item *ngIf="isValid('sex')">
      <span class="invalid-msg">กรุณาเลือก</span>
    </ion-item>
    <ion-item
      *ngIf="((FormItem.get('nameTitle').value == 1 || FormItem.get('nameTitle').value == 4 ) && (FormItem.get('sex').value == 2 && (FormItem.get('sex').value != null)))
    || (FormItem.get('nameTitle').value == 2 || FormItem.get('nameTitle').value == 3 || FormItem.get('nameTitle').value == 5 ) && (FormItem.get('sex').value == 1 && (FormItem.get('sex').value != null))">
      <span class="invalid-msg">
        เพศที่เลือกไม่สอดคล้องกับ "คำนำหน้าชื่อ" ในข้อ1
      </span>
    </ion-item>
    <ion-row radio-group formControlName="sex" [class.invalid]="isValid('sex')">
      <ion-item col-6>
        <ion-radio [value]="1" item-left></ion-radio>
        <ion-label>ชาย</ion-label>
      </ion-item>
      <ion-item col-6>
        <ion-radio [value]="2" item-left></ion-radio>
        <ion-label>หญิง</ion-label>
      </ion-item>
    </ion-row>

    <div>
      <ion-item>
        <ion-label>6) วันที่-เดือน-ปีเกิด</ion-label>
      </ion-item>
      <ion-item *ngIf="isValid('birthDate' && 'birthMonth' && 'birthYear' )">
        <span class="invalid-msg">กรุณาเลือก</span>
      </ion-item>
      <ion-item [class.invalid]="isValid('birthDate')">
        <ion-label>วันที่</ion-label>
        <ion-select interface="action-sheet" formControlName="birthDate" (ionChange)="CalculateAge()">
          <ion-option [value]="99"> ไม่ทราบวันที่เกิด </ion-option>
          <ion-option [value]="01"> 1 </ion-option>
          <ion-option [value]="02"> 2 </ion-option>
          <ion-option [value]="03"> 3 </ion-option>
          <ion-option [value]="04"> 4 </ion-option>
          <ion-option [value]="05"> 5 </ion-option>
          <ion-option [value]="06"> 6 </ion-option>
          <ion-option [value]="07"> 7 </ion-option>
          <ion-option [value]="08"> 8 </ion-option>
          <ion-option [value]="09"> 9 </ion-option>
          <ion-option [value]="10"> 10 </ion-option>
          <ion-option [value]="11"> 11 </ion-option>
          <ion-option [value]="12"> 12 </ion-option>
          <ion-option [value]="13"> 13 </ion-option>
          <ion-option [value]="14"> 14 </ion-option>
          <ion-option [value]="15"> 15 </ion-option>
          <ion-option [value]="16"> 16 </ion-option>
          <ion-option [value]="17"> 17 </ion-option>
          <ion-option [value]="18"> 18 </ion-option>
          <ion-option [value]="19"> 19 </ion-option>
          <ion-option [value]="20"> 20 </ion-option>
          <ion-option [value]="21"> 21 </ion-option>
          <ion-option [value]="22"> 22 </ion-option>
          <ion-option [value]="23"> 23 </ion-option>
          <ion-option [value]="24"> 24 </ion-option>
          <ion-option [value]="25"> 25 </ion-option>
          <ion-option [value]="26"> 26 </ion-option>
          <ion-option [value]="27"> 27 </ion-option>
          <ion-option [value]="28"> 28 </ion-option>
          <ion-option [value]="29"> 29 </ion-option>
          <ion-option [value]="30"> 30 </ion-option>
          <ion-option [value]="31"> 31 </ion-option>
        </ion-select>
      </ion-item>

      <ion-item [class.invalid]="isValid('birthMonth')">
        <ion-label>เดือน</ion-label>
        <ion-select interface="action-sheet" formControlName="birthMonth" (ionChange)="CalculateAge()">
          <ion-option [value]="99">ไม่ทราบเดือนเกิด</ion-option>
          <ion-option [value]="01">มกราคม, เดือนยี่ หรือเดือน 2</ion-option>
          <ion-option [value]="02">กุมภาพันธ์, เดือน 3</ion-option>
          <ion-option [value]="03">มีนาคม, เดือน 4</ion-option>
          <ion-option [value]="04">เมษายน, เดือน 5</ion-option>
          <ion-option [value]="05">พฤษภาคม, เดือน 6</ion-option>
          <ion-option [value]="06">มิถุนายน, เดือน 7</ion-option>
          <ion-option [value]="07">กรกฎาคม, เดือน 8</ion-option>
          <ion-option [value]="08">สิงหาคม, เดือน 9</ion-option>
          <ion-option [value]="09">กันยายน, เดือน 10</ion-option>
          <ion-option [value]="10">ตุลาคม, เดือน 11</ion-option>
          <ion-option [value]="11">พฤศจิกายน, เดือน 12</ion-option>
          <ion-option [value]="12">ธันวาคม, เดือนอ้าย หรือเดือน 1</ion-option>
        </ion-select>
      </ion-item>

      <ion-item [class.invalid]="isValid('birthYear')">
        <ion-label>ปีเกิด</ion-label>
        <ion-select interface="action-sheet" formControlName="birthYear" (ionChange)="CalculateAge()">
          <ion-option [value]="999"> ไม่ทราบ </ion-option>
          <ion-option [value]="562"> พ.ศ. 2562 </ion-option>
          <ion-option [value]="561"> พ.ศ. 2561 </ion-option>
          <ion-option [value]="560"> พ.ศ. 2560 </ion-option>
          <ion-option [value]="559"> พ.ศ. 2559 </ion-option>
          <ion-option [value]="558"> พ.ศ. 2558 </ion-option>
          <ion-option [value]="557"> พ.ศ. 2557 </ion-option>
          <ion-option [value]="556"> พ.ศ. 2556 </ion-option>
          <ion-option [value]="555"> พ.ศ. 2555 </ion-option>
          <ion-option [value]="554"> พ.ศ. 2554 </ion-option>
          <ion-option [value]="553"> พ.ศ. 2553 </ion-option>
          <ion-option [value]="552"> พ.ศ. 2552 </ion-option>
          <ion-option [value]="551"> พ.ศ. 2551 </ion-option>
          <ion-option [value]="550"> พ.ศ. 2550 </ion-option>
          <ion-option [value]="549"> พ.ศ. 2549 </ion-option>
          <ion-option [value]="548"> พ.ศ. 2548 </ion-option>
          <ion-option [value]="547"> พ.ศ. 2547 </ion-option>
          <ion-option [value]="546"> พ.ศ. 2546 </ion-option>
          <ion-option [value]="545"> พ.ศ. 2545 </ion-option>
          <ion-option [value]="544"> พ.ศ. 2544 </ion-option>
          <ion-option [value]="543"> พ.ศ. 2543 </ion-option>
          <ion-option [value]="542"> พ.ศ. 2542 </ion-option>
          <ion-option [value]="541"> พ.ศ. 2541 </ion-option>
          <ion-option [value]="540"> พ.ศ. 2540 </ion-option>
          <ion-option [value]="539"> พ.ศ. 2539 </ion-option>
          <ion-option [value]="538"> พ.ศ. 2538 </ion-option>
          <ion-option [value]="537"> พ.ศ. 2537 </ion-option>
          <ion-option [value]="536"> พ.ศ. 2536 </ion-option>
          <ion-option [value]="535"> พ.ศ. 2535 </ion-option>
          <ion-option [value]="534"> พ.ศ. 2534 </ion-option>
          <ion-option [value]="533"> พ.ศ. 2533 </ion-option>
          <ion-option [value]="532"> พ.ศ. 2532 </ion-option>
          <ion-option [value]="531"> พ.ศ. 2531 </ion-option>
          <ion-option [value]="530"> พ.ศ. 2530 </ion-option>
          <ion-option [value]="529"> พ.ศ. 2529 </ion-option>
          <ion-option [value]="528"> พ.ศ. 2528 </ion-option>
          <ion-option [value]="527"> พ.ศ. 2527 </ion-option>
          <ion-option [value]="526"> พ.ศ. 2526 </ion-option>
          <ion-option [value]="525"> พ.ศ. 2525 </ion-option>
          <ion-option [value]="524"> พ.ศ. 2524 </ion-option>
          <ion-option [value]="523"> พ.ศ. 2523 </ion-option>
          <ion-option [value]="522"> พ.ศ. 2522 </ion-option>
          <ion-option [value]="521"> พ.ศ. 2521 </ion-option>
          <ion-option [value]="520"> พ.ศ. 2520 </ion-option>
          <ion-option [value]="519"> พ.ศ. 2519 </ion-option>
          <ion-option [value]="518"> พ.ศ. 2518 </ion-option>
          <ion-option [value]="517"> พ.ศ. 2517 </ion-option>
          <ion-option [value]="516"> พ.ศ. 2516 </ion-option>
          <ion-option [value]="515"> พ.ศ. 2515 </ion-option>
          <ion-option [value]="514"> พ.ศ. 2514 </ion-option>
          <ion-option [value]="513"> พ.ศ. 2513 </ion-option>
          <ion-option [value]="512"> พ.ศ. 2512 </ion-option>
          <ion-option [value]="511"> พ.ศ. 2511 </ion-option>
          <ion-option [value]="510"> พ.ศ. 2510 </ion-option>
          <ion-option [value]="509"> พ.ศ. 2509 </ion-option>
          <ion-option [value]="508"> พ.ศ. 2508 </ion-option>
          <ion-option [value]="507"> พ.ศ. 2507 </ion-option>
          <ion-option [value]="506"> พ.ศ. 2506 </ion-option>
          <ion-option [value]="505"> พ.ศ. 2505 </ion-option>
          <ion-option [value]="504"> พ.ศ. 2504 </ion-option>
          <ion-option [value]="503"> พ.ศ. 2503 </ion-option>
          <ion-option [value]="502"> พ.ศ. 2502 </ion-option>
          <ion-option [value]="501"> พ.ศ. 2501 </ion-option>
          <ion-option [value]="500"> พ.ศ. 2500 </ion-option>
          <ion-option [value]="499"> พ.ศ. 2499 </ion-option>
          <ion-option [value]="498"> พ.ศ. 2498 </ion-option>
          <ion-option [value]="497"> พ.ศ. 2497 </ion-option>
          <ion-option [value]="496"> พ.ศ. 2496 </ion-option>
          <ion-option [value]="495"> พ.ศ. 2495 </ion-option>
          <ion-option [value]="494"> พ.ศ. 2494 </ion-option>
          <ion-option [value]="493"> พ.ศ. 2493 </ion-option>
          <ion-option [value]="492"> พ.ศ. 2492 </ion-option>
          <ion-option [value]="491"> พ.ศ. 2491 </ion-option>
          <ion-option [value]="490"> พ.ศ. 2490 </ion-option>
          <ion-option [value]="489"> พ.ศ. 2489 </ion-option>
          <ion-option [value]="488"> พ.ศ. 2488 </ion-option>
          <ion-option [value]="487"> พ.ศ. 2487 </ion-option>
          <ion-option [value]="486"> พ.ศ. 2486 </ion-option>
          <ion-option [value]="485"> พ.ศ. 2485 </ion-option>
          <ion-option [value]="484"> พ.ศ. 2484 </ion-option>
          <ion-option [value]="483"> พ.ศ. 2483 </ion-option>
          <ion-option [value]="482"> พ.ศ. 2482 </ion-option>
          <ion-option [value]="481"> พ.ศ. 2481 </ion-option>
          <ion-option [value]="480"> พ.ศ. 2480 </ion-option>
          <ion-option [value]="479"> พ.ศ. 2479 </ion-option>
          <ion-option [value]="478"> พ.ศ. 2478 </ion-option>
          <ion-option [value]="477"> พ.ศ. 2477 </ion-option>
          <ion-option [value]="476"> พ.ศ. 2476 </ion-option>
          <ion-option [value]="475"> พ.ศ. 2475 </ion-option>
          <ion-option [value]="474"> พ.ศ. 2474 </ion-option>
          <ion-option [value]="473"> พ.ศ. 2473 </ion-option>
          <ion-option [value]="472"> พ.ศ. 2472 </ion-option>
          <ion-option [value]="471"> พ.ศ. 2471 </ion-option>
          <ion-option [value]="470"> พ.ศ. 2470 </ion-option>
          <ion-option [value]="469"> พ.ศ. 2469 </ion-option>
          <ion-option [value]="468"> พ.ศ. 2468 </ion-option>
          <ion-option [value]="467"> พ.ศ. 2467 </ion-option>
          <ion-option [value]="466"> พ.ศ. 2466 </ion-option>
          <ion-option [value]="465"> พ.ศ. 2465 </ion-option>
          <ion-option [value]="464"> พ.ศ. 2464 </ion-option>
          <ion-option [value]="463"> พ.ศ. 2463 </ion-option>
          <ion-option [value]="462"> พ.ศ. 2462 </ion-option>
          <ion-option [value]="461"> พ.ศ. 2461 </ion-option>
          <ion-option [value]="460"> พ.ศ. 2460 </ion-option>
          <ion-option [value]="459"> พ.ศ. 2459 </ion-option>
          <ion-option [value]="458"> พ.ศ. 2458 </ion-option>
          <ion-option [value]="457"> พ.ศ. 2457 </ion-option>
          <ion-option [value]="456"> พ.ศ. 2456 </ion-option>
          <ion-option [value]="455"> พ.ศ. 2455 </ion-option>
          <ion-option [value]="454"> พ.ศ. 2454 </ion-option>
          <ion-option [value]="453"> พ.ศ. 2453 </ion-option>
          <ion-option [value]="452"> พ.ศ. 2452 </ion-option>
          <ion-option [value]="451"> พ.ศ. 2451 </ion-option>
          <ion-option [value]="450"> พ.ศ. 2450 </ion-option>
          <ion-option [value]="449"> พ.ศ. 2449 </ion-option>
          <ion-option [value]="448"> พ.ศ. 2448 </ion-option>
          <ion-option [value]="447"> พ.ศ. 2447 </ion-option>
          <ion-option [value]="446"> พ.ศ. 2446 </ion-option>
          <ion-option [value]="445"> พ.ศ. 2445 </ion-option>
          <ion-option [value]="444"> พ.ศ. 2444 </ion-option>
          <ion-option [value]="443"> พ.ศ. 2443 </ion-option>
          <ion-option [value]="442"> พ.ศ. 2442 </ion-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-row>
      <ion-label ion-button block (click)="picture()">
        ตารางเทียบอายุ
      </ion-label>
    </ion-row>

    <ion-item>
      <ion-label>7) อายุ</ion-label>
    </ion-item>
    <ion-item *ngIf="isValid('age')">
      <span class="invalid-msg">กรุณาเลือก</span>
    </ion-item>
    <ion-item
      *ngIf="(FormItem.get('relationship').value == 7) && (FormItem.get('age').value < 13 && FormItem.get('age').value != null)">
      <span class="invalid-msg">
        กรุณาตรวจสอบอายุของพ่อ แม่ พ่อแม่ของคู่สมรส
      </span>
    </ion-item>

    <ion-item
      *ngIf="(FormItem.get('relationship').value == 1) && ((FormItem.get('age').value < 13 )&& (FormItem.get('age').value != null))">
      <ion-icon md="md-warning"></ion-icon>
      <span class="invalid-msg">
        หัวหน้าครัวเรือนต้องมีอายุ 13 ปีขึ้นไป
      </span>
    </ion-item>
    <ion-item
      *ngIf="FormItem.get('relationship').value == 2 && ((FormItem.get('age').value < 13 )&& (FormItem.get('age').value != null))">
      <ion-icon md="md-warning"></ion-icon>
      <span class="invalid-msg">
        กรุณาตรวจสอบอายุของภรรยาหรือสามี
      </span>
    </ion-item>

    <ion-item [class.invalid]="isValid('age')">
      <ion-label>อายุ</ion-label>
      <ion-select interface="action-sheet" formControlName="age">
        <ion-option [value]="999"> ไม่ทราบ </ion-option>
        <ion-option [value]="000"> อายุต่ำกว่า 1 ปี </ion-option>
        <ion-option [value]="001"> อายุ 1 ปี </ion-option>
        <ion-option [value]="002"> อายุ 2 ปี </ion-option>
        <ion-option [value]="003"> อายุ 3 ปี </ion-option>
        <ion-option [value]="004"> อายุ 4 ปี </ion-option>
        <ion-option [value]="005"> อายุ 5 ปี </ion-option>
        <ion-option [value]="006"> อายุ 6 ปี </ion-option>
        <ion-option [value]="007"> อายุ 7 ปี </ion-option>
        <ion-option [value]="008"> อายุ 8 ปี </ion-option>
        <ion-option [value]="009"> อายุ 9 ปี </ion-option>
        <ion-option [value]="010"> อายุ 10 ปี </ion-option>
        <ion-option [value]="011"> อายุ 11 ปี </ion-option>
        <ion-option [value]="012"> อายุ 12 ปี </ion-option>
        <ion-option [value]="013"> อายุ 13 ปี </ion-option>
        <ion-option [value]="014"> อายุ 14 ปี </ion-option>
        <ion-option [value]="015"> อายุ 15 ปี </ion-option>
        <ion-option [value]="016"> อายุ 16 ปี </ion-option>
        <ion-option [value]="017"> อายุ 17 ปี </ion-option>
        <ion-option [value]="018"> อายุ 18 ปี </ion-option>
        <ion-option [value]="019"> อายุ 19 ปี </ion-option>
        <ion-option [value]="020"> อายุ 20 ปี </ion-option>
        <ion-option [value]="021"> อายุ 21 ปี </ion-option>
        <ion-option [value]="022"> อายุ 22 ปี </ion-option>
        <ion-option [value]="023"> อายุ 23 ปี </ion-option>
        <ion-option [value]="024"> อายุ 24 ปี </ion-option>
        <ion-option [value]="025"> อายุ 25 ปี </ion-option>
        <ion-option [value]="026"> อายุ 26 ปี </ion-option>
        <ion-option [value]="027"> อายุ 27 ปี </ion-option>
        <ion-option [value]="028"> อายุ 28 ปี </ion-option>
        <ion-option [value]="029"> อายุ 29 ปี </ion-option>
        <ion-option [value]="030"> อายุ 30 ปี </ion-option>
        <ion-option [value]="031"> อายุ 31 ปี </ion-option>
        <ion-option [value]="032"> อายุ 32 ปี </ion-option>
        <ion-option [value]="033"> อายุ 33 ปี </ion-option>
        <ion-option [value]="034"> อายุ 34 ปี </ion-option>
        <ion-option [value]="035"> อายุ 35 ปี </ion-option>
        <ion-option [value]="036"> อายุ 36 ปี </ion-option>
        <ion-option [value]="037"> อายุ 37 ปี </ion-option>
        <ion-option [value]="038"> อายุ 38 ปี </ion-option>
        <ion-option [value]="039"> อายุ 39 ปี </ion-option>
        <ion-option [value]="040"> อายุ 40 ปี </ion-option>
        <ion-option [value]="041"> อายุ 41 ปี </ion-option>
        <ion-option [value]="042"> อายุ 42 ปี </ion-option>
        <ion-option [value]="043"> อายุ 43 ปี </ion-option>
        <ion-option [value]="044"> อายุ 44 ปี </ion-option>
        <ion-option [value]="045"> อายุ 45 ปี </ion-option>
        <ion-option [value]="046"> อายุ 46 ปี </ion-option>
        <ion-option [value]="047"> อายุ 47 ปี </ion-option>
        <ion-option [value]="048"> อายุ 48 ปี </ion-option>
        <ion-option [value]="049"> อายุ 49 ปี </ion-option>
        <ion-option [value]="050"> อายุ 50 ปี </ion-option>
        <ion-option [value]="051"> อายุ 51 ปี </ion-option>
        <ion-option [value]="052"> อายุ 52 ปี </ion-option>
        <ion-option [value]="053"> อายุ 53 ปี </ion-option>
        <ion-option [value]="054"> อายุ 54 ปี </ion-option>
        <ion-option [value]="055"> อายุ 55 ปี </ion-option>
        <ion-option [value]="056"> อายุ 56 ปี </ion-option>
        <ion-option [value]="057"> อายุ 57 ปี </ion-option>
        <ion-option [value]="058"> อายุ 58 ปี </ion-option>
        <ion-option [value]="059"> อายุ 59 ปี </ion-option>
        <ion-option [value]="060"> อายุ 60 ปี </ion-option>
        <ion-option [value]="061"> อายุ 61 ปี </ion-option>
        <ion-option [value]="062"> อายุ 62 ปี </ion-option>
        <ion-option [value]="063"> อายุ 63 ปี </ion-option>
        <ion-option [value]="064"> อายุ 64 ปี </ion-option>
        <ion-option [value]="065"> อายุ 65 ปี </ion-option>
        <ion-option [value]="066"> อายุ 66 ปี </ion-option>
        <ion-option [value]="067"> อายุ 67 ปี </ion-option>
        <ion-option [value]="068"> อายุ 68 ปี </ion-option>
        <ion-option [value]="069"> อายุ 69 ปี </ion-option>
        <ion-option [value]="070"> อายุ 70 ปี </ion-option>
        <ion-option [value]="071"> อายุ 71 ปี </ion-option>
        <ion-option [value]="072"> อายุ 72 ปี </ion-option>
        <ion-option [value]="073"> อายุ 73 ปี </ion-option>
        <ion-option [value]="074"> อายุ 74 ปี </ion-option>
        <ion-option [value]="075"> อายุ 75 ปี </ion-option>
        <ion-option [value]="076"> อายุ 76 ปี </ion-option>
        <ion-option [value]="077"> อายุ 77 ปี </ion-option>
        <ion-option [value]="078"> อายุ 78 ปี </ion-option>
        <ion-option [value]="079"> อายุ 79 ปี </ion-option>
        <ion-option [value]="080"> อายุ 80 ปี </ion-option>
        <ion-option [value]="081"> อายุ 81 ปี </ion-option>
        <ion-option [value]="082"> อายุ 82 ปี </ion-option>
        <ion-option [value]="083"> อายุ 83 ปี </ion-option>
        <ion-option [value]="084"> อายุ 84 ปี </ion-option>
        <ion-option [value]="085"> อายุ 85 ปี </ion-option>
        <ion-option [value]="086"> อายุ 86 ปี </ion-option>
        <ion-option [value]="087"> อายุ 87 ปี </ion-option>
        <ion-option [value]="088"> อายุ 88 ปี </ion-option>
        <ion-option [value]="089"> อายุ 89 ปี </ion-option>
        <ion-option [value]="090"> อายุ 90 ปี </ion-option>
        <ion-option [value]="091"> อายุ 91 ปี </ion-option>
        <ion-option [value]="092"> อายุ 92 ปี </ion-option>
        <ion-option [value]="093"> อายุ 93 ปี </ion-option>
        <ion-option [value]="094"> อายุ 94 ปี </ion-option>
        <ion-option [value]="095"> อายุ 95 ปี </ion-option>
        <ion-option [value]="096"> อายุ 96 ปี </ion-option>
        <ion-option [value]="097"> อายุ 97 ปี </ion-option>
        <ion-option [value]="098"> อายุ 98 ปี </ion-option>
        <ion-option [value]="099"> อายุ 99 ปี </ion-option>
        <ion-option [value]="100"> อายุ 100 ปี </ion-option>
        <ion-option [value]="101"> อายุ 101 ปี </ion-option>
        <ion-option [value]="102"> อายุ 102 ปี </ion-option>
        <ion-option [value]="103"> อายุ 103 ปี </ion-option>
        <ion-option [value]="104"> อายุ 104 ปี </ion-option>
        <ion-option [value]="105"> อายุ 105 ปี </ion-option>
        <ion-option [value]="106"> อายุ 106 ปี </ion-option>
        <ion-option [value]="107"> อายุ 107 ปี </ion-option>
        <ion-option [value]="108"> อายุ 108 ปี </ion-option>
        <ion-option [value]="109"> อายุ 109 ปี </ion-option>
        <ion-option [value]="110"> อายุ 110 ปี </ion-option>
        <ion-option [value]="111"> อายุ 111 ปี </ion-option>
        <ion-option [value]="112"> อายุ 112 ปี </ion-option>
        <ion-option [value]="113"> อายุ 113 ปี </ion-option>
        <ion-option [value]="114"> อายุ 114 ปี </ion-option>
        <ion-option [value]="115"> อายุ 115 ปี </ion-option>
        <ion-option [value]="116"> อายุ 116 ปี </ion-option>
        <ion-option [value]="117"> อายุ 117 ปี </ion-option>
        <ion-option [value]="118"> อายุ 118 ปี </ion-option>
        <ion-option [value]="119"> อายุ 119 ปี </ion-option>
        <ion-option [value]="120"> อายุ 120 ปี </ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>8) สัญชาติ</ion-label>
    </ion-item>
    <ion-item *ngIf="isValid('nationality')">
      <span class="invalid-msg">กรุณาเลือก</span>
    </ion-item>
    <ion-item [class.invalid]="isValid('nationality')">
      <ion-label>สัญชาติ</ion-label>
      <ion-select #nationSelect interface="action-sheet" formControlName="nationality" (ionChange)="change($event)">
        <ion-option *ngFor="let item of Nation">{{ item.Name }}</ion-option>
        <ion-option>สัญชาติอื่นๆ</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>9) การมีชื่อในทะเบียนบ้าน</ion-label>
    </ion-item>
    <ion-item *ngIf="isValid('registration')">
      <span class="invalid-msg">กรุณาเลือก</span>
    </ion-item>
    <ion-item [class.invalid]="isValid('registration')">
      <ion-label>การมีชื่อในทะเบียนบ้าน</ion-label>
      <ion-select interface="action-sheet" formControlName="registration">
        <ion-option [value]="1">1. มีในบ้านนี้</ion-option>
        <ion-option [value]="2">2. ไม่มีในบ้านนี้แต่มีบ้านอื่น</ion-option>
        <ion-option [value]="3">3. ไม่มีในบ้านนี้ แต่อยู่จังหวัดอื่น</ion-option>
        <ion-option [value]="4">4. ไม่มีในประเทศไทย แต่มีในประเทศอื่น</ion-option>
        <ion-option [value]="5">5. ไม่มีที่ใดเลย</ion-option>
        <ion-option [value]="9">6. ไม่ทราบ</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="FormItem.get('registration').value == 3">
      <ion-item *ngIf="FormItem.get('otherProvince').value == null">
        <span class="invalid-msg">กรุณาเลือก</span>
      </ion-item>
      <ion-item *ngIf="FormItem.get('otherProvince').value == proName">
        <span class="invalid-msg">จังหวัดที่เลือก ต้องไม่ใช่จังหวัดทีทำการสำรวจ</span>
      </ion-item>
      <ion-item
        [class.invalid]="FormItem.get('otherProvince').value == null || FormItem.get('otherProvince').value == proName">
        <ion-label>ระบุจังหวัดอื่น
        </ion-label>
        <ion-select interface="action-sheet" formControlName="otherProvince">
          <ion-option *ngFor="let item of Province">{{ item.name }}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-row>
      <ion-col>
        <button ion-button type="button" block color="light" (click)="closeDialog()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button block [disabled]="isDisabled()">OK</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>