<ion-grid>
  <ion-row align-items-center>
    <ion-col col-3>
      <button ion-button icon-only color="secondary" type="button" (click)="backToHome()"
        *ngIf="checkFormButtonsForBuilding != true">
        <ion-icon name="rewind"></ion-icon>
      </button>

      <button ion-button icon-only color="secondary" type="button" (click)="previouPage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 >
      <div class="progress-outer" *ngIf="progress$ | async as p">
        <div class="progress-inner" [style.width]="60 + '%'">
          {{ p.progressCompleted }} / {{ p.progressToGo }}
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div *ngIf="checkEnd == null">
        <button ion-button block icon-end type="submit">
          บันทึก และ ถามข้อต่อไป
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </div>

      <div *ngIf="checkEnd == false">
        <button ion-button block icon-end type="submit">
          บันทึก และ สิ้นสุดการสัมภาษณ์
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </div>

    </ion-col>
  </ion-row>
</ion-grid>