<ion-header>

  <ion-navbar>

    <ion-title>{{treeDisplay}} {{textTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">ตกลง</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list *ngFor="let w of range(1,listData.length)">
    <ion-item (click)="deselect(w-1)">
      <ion-label (click)="deselect(w-1)">{{listData[w-1].code}} : {{listData[w-1].name}}</ion-label>
      <ion-checkbox (click)="deselect(w-1)" disabled checked item-end></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let tree of searchDisplay">
      <ion-label (click)="select(tree.code,tree.name)">{{tree.code}} {{tree.name}}</ion-label>
    </ion-item>
    <ion-buttons *ngIf="isSearch">
      <button ion-button block (click)="searchOtherPlant()">ค้นหาในหมวดอื่น</button>
    </ion-buttons>
    <div *ngIf="searchListData != ricePlant">
      <ion-item *ngFor="let treeOther of searchDisplayOtherPlantRice;">
        <ion-label>{{treeOther.name}}(หมวดข้าว)</ion-label>
      </ion-item>
    </div>
    <div *ngIf="searchListData != dryPlant">
      <ion-item *ngFor="let treeOther of searchDisplayOtherPlantDry;">
        <ion-label>{{treeOther.name}}(หมวดพืชไร่)</ion-label>
      </ion-item>
    </div>
    <div *ngIf="searchListData != rubberPlant">
      <ion-item *ngFor="let treeOther of searchDisplayOtherPlantRub;">
        <ion-label>{{treeOther.name}}(หมวดยางพารา)</ion-label>
      </ion-item>
    </div>
    <div *ngIf="searchListData != perenialPlant">
      <ion-item *ngFor="let treeOther of searchDisplayOtherPlantPeren;">
        <ion-label>{{treeOther.name}}(หมวดพืชยืนต้น ไม้ผล สวนป่า)</ion-label>
      </ion-item>
    </div>
    <div *ngIf="searchListData != herbPlant">
      <ion-item *ngFor="let treeOther of searchDisplayOtherPlantHerb;">
        <ion-label>{{treeOther.name}}(หมวดพืชผัก สมุนไพร)</ion-label>
      </ion-item>
    </div>
    <div *ngIf="searchListData != flowerPlant">
      <ion-item *ngFor="let treeOther of searchDisplayOtherPlantFlower;">
        <ion-label>{{treeOther.name}}(หมวดไม้ดอก ไม้ประดับ การเพาะพันธุ์ไม้)</ion-label>
      </ion-item>
    </div>
  </ion-list>

</ion-content>