<div [formGroup]="FormItem">

  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label>
          <b>แปลงที่ {{ no }}</b>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          1) ตั้งอยู่ที่ใด (จังหวัด อำเภอ ตำบล)
        </ion-label>
      </ion-item>
      <location [FormItem]="FormItem.get('location')" [isAnimal]="false"></location>

      <ion-item>
        <ion-label>
          2) ขนาดพื้นที่เท่าไร กี่ไร่ กี่งาน กี่ตารางวา
        </ion-label>
      </ion-item>
      <field-area [FormItem]="FormItem.get('area')"></field-area>

      <ion-item>
        <ion-label>
          3) ที่แปลงนี้ตั้งอยู่ในเขตชลประทานหรือไม่
        </ion-label>
      </ion-item>

      <ion-row radio-group formControlName="irrigationField" [class.invalid]="isValid('irrigationField')">
        <ion-item *ngIf="isValid('irrigationField')">
          <span class="invalid-msg">
            กรุณาเลือก
          </span>
        </ion-item>
        <ion-item col-6>
          <ion-radio value="true" item-left></ion-radio>
          <ion-label>
            อยู่
          </ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio value="false" item-left></ion-radio>
          <ion-label>
            ไม่อยู่
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-item>
        <ion-label>
          4) ในรอบ 12 เดือนที่ผ่านมาที่แปลงนี้ปลูก<b>พืชผัก สมุนไพร</b><br>ชนิดใด (ระบุได้ไม่เกิน 5 ชนิด)
        </ion-label>
      </ion-item>
      <modal-plant Title="พืชผัก สมุนไพร" [InputList]="shownData" InputLimit="5" [FormItem]="FormItem.get('plantings')"
        textTitleOnDialog="ระบุได้หลายชนิด"></modal-plant>

      <div *ngIf="getAgiSelectRice || getAgiSelectAgronomy || getAgiSelectRubber || getAgiSelectPerennial ">
        <ion-item>
          <ion-label>
            5) ลักษณะการปลูกเป็นแบบใด
          </ion-label>
        </ion-item>

        <ion-row radio-group formControlName="thisPlantOnly" [class.invalid]="isValid('thisPlantOnly')">
          <ion-item *ngIf="isValid('thisPlantOnly')">
            <span class="invalid-msg">
              กรุณาเลือก
            </span>
          </ion-item>
          <ion-item>
            <ion-radio [value]="true" item-left></ion-radio>
            <ion-label>
              1. แบบปลูกเฉพาะ พืชผัก สมุนไพร
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-radio [value]="false" item-left></ion-radio>
            <ion-label>
              2. แบบปลูกปะปนกัน กับพืชชนิดอื่น ได้แก่
            </ion-label>
          </ion-item>
        </ion-row>

        <div [ngSwitch]="FormItem.get('thisPlantOnly').value">
          <div *ngSwitchCase="false">
            <modal-plant Title="พืชที่ปลูกหลัก ชนิดใด" [InputList]="forwardListPlant" InputLimit="1"
              [FormItem]="FormItem.get('primaryPlant')" textTitleOnDialog="ระบุได้ 1 ชนิด"></modal-plant>
          </div>
        </div>
      </div>
      <water-sources9 [headline]="'6) ที่แปลงนี้ใช้น้ำจากแหล่งใดบ้าง (เลือกได้หลายข้อ)'"
        [FormItem]="FormItem.get('waterSources')"></water-sources9>

    </ion-card-content>
  </ion-card>

</div>