<div [formGroup]="FormItem">

  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label>
          <b>แปลงที่ {{ no }}</b>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>1) ตั้งอยู่ที่ใด (จังหวัด อำเภอ ตำบล)</ion-label>
      </ion-item>

      <location [FormItem]="FormItem.get('location')"></location>

      <ion-item>
        <ion-label>
          2) ขนาดพื้นที่เท่าไร กี่ไร่ กี่งาน กี่ตารางวา
        </ion-label>
      </ion-item>

      <field-area [FormItem]="FormItem.get('area')"></field-area>

      <ion-item>
        <ion-label>
          3) ที่แปลงนี้ตั้งอยู่ในเขตชลประทานหรือไม่
        </ion-label>
      </ion-item>

      <ion-row radio-group formControlName="irrigationField" [class.invalid]="isValid('irrigationField')">
        <ion-item *ngIf="isValid('irrigationField')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>
        <ion-item col-6>
          <ion-radio value="1" item-left></ion-radio>
          <ion-label>อยู่</ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio value="2" item-left></ion-radio>
          <ion-label>ไม่อยู่</ion-label>
        </ion-item>
      </ion-row>

      <ion-item>
        <ion-label>
          4) ในรอบ 12 เดือนที่ผ่านมาที่แปลงนี้ปลูก<b>พืชผัก สมุนไพร</b> ชนิดใด
        </ion-label>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let p of shownData" text-center>
          {{ p }}
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label ion-button (click)="model()">เลือก</ion-label>
      </ion-item>
      <!-- 
          <ion-list>
            <ion-item [class.invalid]="isValid('names')">
              <ion-label>รายชื่อพืช</ion-label>
              <ion-select interface="action-sheet" formControlName="names">
                <ion-option>กระเพรา</ion-option>
                <ion-option>กระเทียม</ion-option>
                <ion-option>ขมิ้น</ion-option>
                <ion-option>ตะไคร้</ion-option>
                <ion-option>มะระ</ion-option>
                <ion-option>พริกไทย</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isValid('names')">
              <span class="invalid-msg">กรุณาเลือก</span>
            </ion-item>
          </ion-list>
        </div> -->

      <ion-item>
        <ion-label>
          5) ลักษณะการปลูกเป็นแบบใด
        </ion-label>
      </ion-item>

      <ion-row radio-group formControlName="thisPlantOnly" [class.invalid]="isValid('thisPlantOnly')">
        <ion-item *ngIf="isValid('thisPlantOnly')">
          <span class="invalid-msg">กรุณาเลือก</span>
        </ion-item>
        <ion-item>
          <ion-radio value="1" item-left></ion-radio>
          <ion-label>1. แบบปลูกเฉพาะ ไม้ดอกไม้ประดับ เพาะพันธ์ุไม้</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="2" item-left></ion-radio>
          <ion-label>2. แบบปลูกปะปนกัน กับพืชชนิดอื่น ได้แก่</ion-label>
        </ion-item>
      </ion-row>

      <ion-item [class.invalid]="isValid('mixedWithPrimaryPlant')">
        <ion-label>รายชื่อพืชที่ปลูกหลัก</ion-label>
        <ion-select interface="action-sheet" formControlName="mixedWithPrimaryPlant">
          <ion-option>ข้าว</ion-option>
          <ion-option>พืชไร่</ion-option>
          <ion-option>ยางพารา</ion-option>
          <ion-option>พืชยืนต้น ไม้ผล สวนป่า</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isValid('mixedWithPrimaryPlant')">
        <span class="invalid-msg">กรุณาเลือก</span>
      </ion-item>

      <water-sources9 [headline]="'6) ที่แปลงนี้ใช้น้ำจากแหล่งใดบ้าง (เลือกได้หลายข้อ)'" [FormItem]="FormItem.get('waterSources')"></water-sources9>

    </ion-card-content>
  </ion-card>

</div>