<!--
  Generated template for the WaterAnimalPlantingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <questionnaire-menu title="การเพาะเลี้ยงสัตว์น้ำในพื้นที่น้ำจืด "></questionnaire-menu>

</ion-header>


<ion-content padding>
  <h3><b>ตอนที่ 2.9 การเพาะเลี้ยงสัตว์น้ำในพื้นที่น้ำจืด</b></h3>
  <form (ngSubmit)="handleSubmit()" [formGroup]="aquaticAnimal">
    <ion-card>

      <ion-card-content>
        <ion-item>
          <ion-label>
            2.9.1 ในรอบ 12 เดือนที่ผ่านมาครัวเรือนนี้ทำการเพาะเลี้ยง เพาะฟัก อนุบาลสัตว์น้ำในพื้นที่น้ำจืด หรือไม่
          </ion-label>
        </ion-item>
        <ion-row radio-group formControlName="doing" [class.invalid]="isValid('doing')">
          <ion-item *ngIf="isValid('doing')">
            <span class="invalid-msg">กรุณาเลือก</span>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>ทำ</ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>ไม่ทำ</ion-label>
          </ion-item>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>

      <ion-card-content>
        <ion-item>
          <ion-label>
            ถ้า “มี” เลี้ยงสัตว์ชนิดใดบ้าง
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label><b>ชนิดสัตว์น้ำ</b></ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>1.ปลา</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>2.กุ้ง</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>3.กบ</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>4.จระเข้</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>5.ตะพาบน้ำ</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>6.ปู</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>7.หอย</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>8.เต่า</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>9. ไรแดง </ion-label>
        </ion-item>





      </ion-card-content>
    </ion-card>

    <!-- (2.กุ้ง 6.ปู 7.หอย และ 9.ไรแดง) -->
    <h3><b>1.ปลา</b></h3>
    <ion-card>

      <ion-card-content>
        <div formGroupName="fish">
          <ion-item>
            <ion-label> 1) ลักษณะการเลี้ยงเป็นอย่างไร</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox></ion-checkbox>
            <ion-label>1.บ่อ</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox></ion-checkbox>
            <ion-label>2.ร่องสวน</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox></ion-checkbox>
            <ion-label>3.กระชัง</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox></ion-checkbox>
            <ion-label>4.นา</ion-label>
          </ion-item>


          <ion-item>
            <ion-label>
              5. อื่น ๆ
            </ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>โปรดระบุ</ion-label>
            <ion-input></ion-input>
          </ion-item>


          <ion-item>
            <ion-label>
              2) ถ้าเลี้ยงในบ่อ หรือร่องสวน มีจำนวนบ่อหรือ ร่องสวนรวมเท่าไร
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-input type="number" placeholder="กรอกจำนวน" formControlName="fieldCount" [class.invalid]="isValid('fish.fieldCount')"></ion-input>
          </ion-item>

          <ion-item *ngIf="isValid('fish.fieldCount')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>

          <ion-item>
            <ion-label>
              2.1) ขนาดบ่อหรือร่องสวนทั้งหมดเท่ากันหรือไม่
            </ion-label>
          </ion-item>

          <ion-row radio-group formControlName="fieldsAreSameSize" [class.invalid]="isValid('fish.fieldsAreSameSize')">
            <ion-item *ngIf="isValid('fish.fieldsAreSameSize')">
              <span class="invalid-msg">กรุณาเลือก</span>
            </ion-item>
            <ion-item col-6>
              <ion-radio item-left></ion-radio>
              <ion-label>เท่ากัน</ion-label>
            </ion-item>
            <ion-item col-6>
              <ion-radio item-left></ion-radio>
              <ion-label>ไม่เท่ากัน</ion-label>
            </ion-item>
          </ion-row>

        </div>
      </ion-card-content>
    </ion-card>

    <pool-area headline="2.2) บ่อหรือร่องสวนที่ 1"></pool-area>


    <ion-card>
      <ion-card-content>
        <!-- ใช้สำหรับปลาเป็นตัว -->
        <div formGroupName="fish">
          <ion-item>
            <ion-label> 3) จำนวนที่เลี้ยงในปัจจุบันจำนวนกี่ตัว(รวมทุกบ่อ/ร่องสวน)</ion-label>
          </ion-item>
          <ion-item>
            <ion-input type="number" placeholder="กรอกจำนวน" formControlName="animalsCount" [class.invalid]="isValid('fish.animalsCount')"></ion-input>
          </ion-item>
          <ion-item *ngIf="isValid('fish.animalsCount')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>
        </div>

        <!-- *สำหรับ กุ้ง ปู หอย ไรแดง เป็นหน่วย กก. -->

        <ion-item>
          <ion-label> 3) จำนวนที่เลี้ยงในปัจจุบันจำนวนกี่กิโล(รวมทุกบ่อ/ร่องสวน)</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวน"></ion-input>
        </ion-item>

      </ion-card-content>
    </ion-card>



    <water-sources9 [headline]="'4) การเลี้ยงสัตว์น้ำใช้น้ำจากแหล่งใดบ้าง'"></water-sources9>



    <h3><b>3.กบ</b></h3>
    <ion-card>
      <ion-card-content>


        <ion-item>
          <ion-label> 1) ลักษณะการเลี้ยงเป็นอย่างไร</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>1.บ่อ</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>2.กระชังบก</ion-label>
        </ion-item>


        <ion-item>
          <ion-label>
            3. อื่น ๆ
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>โปรดระบุ</ion-label>
          <ion-input></ion-input>
        </ion-item>




        <ion-item>
          <ion-label> 2) จำนวนกบที่เลี้ยงเฉลี่ยต่อเดือน เดือนละกี่ตัว</ion-label>
        </ion-item>
        <div formGroupName="frog">
          <ion-item>
            <ion-input type="number" placeholder="กรอกจำนวน" formControlName="animalsCount" [class.invalid]="isValid('frog.animalsCount')"></ion-input>
          </ion-item>
          <ion-item *ngIf="isValid('frog.animalsCount')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>
        </div>

      </ion-card-content>
    </ion-card>


    <water-sources9 headline="3) การเลี้ยงสัตว์น้ำใช้น้ำจากแหล่งใดบ้าง"></water-sources9>



    <h3><b>4.จระเข้</b></h3>
    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label> 1) ลักษณะการเลี้ยงเป็นอย่างไร</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>1.บ่อ</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            2. อื่น ๆ
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>โปรดระบุ</ion-label>
          <ion-input></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>
            2) ถ้าเลี้ยงในบ่อ มีจำนวนบ่อเท่าไร
          </ion-label>
        </ion-item>

        <div formGroupName="crocodile">
          <ion-item>
            <ion-input type="number" placeholder="กรอกจำนวน" formControlName="animalsCount" [class.invalid]="isValid('crocodile.animalsCount')"></ion-input>
          </ion-item>
          <ion-item *ngIf="isValid('crocodile.animalsCount')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>
        </div>
        <ion-item>
          <ion-label>
            2.1) ขนาดบ่อหรือร่องสวนทั้งหมดเท่ากันหรือไม่
          </ion-label>
        </ion-item>

        <ion-row radio-group>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>เท่ากัน</ion-label>
          </ion-item>
          <ion-item col-6>
            <ion-radio item-left></ion-radio>
            <ion-label>ไม่เท่ากัน</ion-label>
          </ion-item>
        </ion-row>
      </ion-card-content>
    </ion-card>




    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            2.2) บ่อที่ 1
          </ion-label>
        </ion-item>
        <pool-area pool="บ่อ"></pool-area>

      </ion-card-content>
    </ion-card>

    <ion-card>

      <ion-card-content>
        <div formGroupName="fish">
          <ion-item>
            <ion-label> 3) จำนวนที่เลี้ยงเฉลี่ยต่อเดือน เดือนละกี่ตัว</ion-label>
          </ion-item>
          <ion-item>
            <ion-input type="number" placeholder="กรอกจำนวน" formControlName="animalsCount" [class.invalid]="isValid('fish.animalsCount')"></ion-input>
          </ion-item>
          <ion-item *ngIf="isValid('fish.animalsCount')">
            <span class="invalid-msg">กรุณากรอกจำนวน</span>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>


    <water-sources9 headline="4) การเลี้ยงสัตว์น้ำใช้น้ำจากแหล่งใดบ้าง"></water-sources9>

    <form-buttons-bar></form-buttons-bar>

  </form>

</ion-content>