<ion-row (click)="showModal()" [formGroup]="FormItem">

  <ion-col col-3>
    <ion-item no-padding>
      <ion-input type="text" disabled="true" formControlName="name"></ion-input>
      <ion-label>
        9.
      </ion-label>
    </ion-item>
  </ion-col>

  <ion-col col-2>
    <ion-input type="number" disabled="true" formControlName="size"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" formControlName="drink"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" formControlName="agriculture"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" formControlName="factory"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input type="number" disabled="true" formControlName="service"></ion-input>
  </ion-col>

</ion-row>