<ion-header>

  <ion-navbar>
    <ion-title>{{ text }}ขนาดพื้นที่</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="FormItem" (ngSubmit)="okDialog()">
    <ion-list>
      <ion-item>
        <ion-label>ไร่</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="rai" [class.invalid]="isValid('rai')"></ion-input>
      </ion-item>
      <ion-item *ngIf="isValid('rai')">
        <span class="invalid-msg">กรุณากรอกข้อมูล</span>
      </ion-item>
      <ion-item>
        <ion-label>งาน</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="ngan" [class.invalid]="isValid('ngan')"></ion-input>
      </ion-item>
      <ion-item *ngIf="isValid('ngan')">
        <span class="invalid-msg">กรุณากรอกข้อมูลในช่วง 0-3</span>
      </ion-item>
      <ion-item>
        <ion-label>ตารางวา</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="sqWa" [class.invalid]="isValid('sqWa')"></ion-input>
      </ion-item>
      <ion-item *ngIf="isValid('sqWa')">
        <span class="invalid-msg">กรุณากรอกข้อมูลในช่วง 0-99</span>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button type="button" block color="light" (click)="closeDialog()">ยกเลิก</button>
        </ion-col>
        <ion-col>
          <button ion-button block [disabled]="FormItem.invalid">ตกลง</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>