<ion-list>
  <ion-list-header>
    {{ data.properties.pro_name }} <br />
    {{ data.properties.dis_name }} <br />
    {{ data.properties.tam_name }} <br />
    {{ str }}
    {{ data.properties.ea_code_14 }}
  </ion-list-header>

  <div no-lines>
    <ion-item>
      <h3>
        EA: {{data._id}}
      </h3>
    </ion-item>
  </div>

  <button ion-item icon-start>
    <ion-icon name="md-refresh"></ion-icon>
    อัพเดทข้อมูล
  </button>
  <button ion-item icon-start [navPush]="'EaMapPage'">
    <ion-icon name="map"></ion-icon>
    ดูแผนที่
  </button>
</ion-list>