<ion-list>
  <ion-list-header>
    ตะวันออกเฉียงเหนือ<br />
    {{fg.get('province').value}} <br />
    {{fg.get('district').value}} <br />
    {{fg.get('subDistrict').value}} <br />
    {{fg.get('idEA').value}}
  </ion-list-header>

  <div no-lines>
    <ion-item>
      <h3>
        EA: 44001011099<b>264</b>
      </h3>
    </ion-item>
  </div>

  <button ion-item icon-start>
    <ion-icon name="md-refresh"></ion-icon>
    อัพเดทข้อมูล
  </button>
  <button ion-item icon-start>
    <ion-icon name="map"></ion-icon>
    ดูแผนที่
  </button>
</ion-list>