<ion-list *ngIf="currentEA$ | async as ea">
  <ion-list-header>
    {{ ea.CWT_NAME }} <br />
    {{ ea.AMP_NAME }} <br />
    {{ ea.TAM_NAME }} <br />
    <br />
    <span text-wrap>{{ ea.REMARK }}</span>
  </ion-list-header>

  <div no-lines>
    <ion-item>
      <h3>
        EA: {{ ea.code.substr(0, 11) }} <b>{{ ea.EA }}</b>
      </h3>
    </ion-item>
  </div>

  <button ion-item icon-start>
    <ion-icon name="md-refresh"></ion-icon>
    อัพเดทข้อมูล
  </button>
  <button ion-item icon-start [navPush]="'EaMapPage'">
    <ion-icon name="map"></ion-icon>
    ดูแผนที่
  </button>
</ion-list>