<ion-header>

  <ion-navbar>
    <ion-title>ปีเกิด</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-7>
        <button ion-button outline block color="dark" (click)="okDialog(999)">ไม่ทราบ</button>
      </ion-col>
      <ion-col>
        <button ion-button outline block color="dark" (click)="okDialog(562)">2562</button>
      </ion-col>
      <ion-col>
        <button ion-button outline block color="dark" (click)="okDialog(561)">2561</button>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let year of birthYear">
      <ion-col *ngFor="let i of orders">
        <button ion-button outline block color="dark" (click)="okDialog(year-i)">2{{ year - i}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col>
      <button ion-button type="button" block color="light" (click)="closeDialog()">ยกเลิก</button>
    </ion-col>
  </ion-row>

</ion-content>