<ion-header>

  <questionnaire-menu title="ข้อมูลพื้นฐานส่วนบุคคล "></questionnaire-menu>

</ion-header>
<ion-content padding>
  <h3>ข้อมูลพื้นฐานส่วนบุคคล</h3>
  <form (ngSubmit)="handleSubmit()" [formGroup]="userInfo">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>ชื่อผู้ให้ข้อมูล</ion-label>
        </ion-item>
        <ion-item>
          <ion-input formControlName="name" [class.invalid]="isValid('name')" class="backgroundinput" type="text" placeholder="กรอกชื่อผู้ให้ข้อมูล"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('name')">
          <span class="invalid-msg">กรุณากรอก</span>
        </ion-item>

        <ion-item>
          <ion-label>ประเภทสถานประกอบการผลิต</ion-label>
        </ion-item>
        <div formGroupName="category">
          <ion-item>
            <ion-label>เลือกประเภท</ion-label>
            <ion-select formControlName="string" [class.invalid]="isValid('category.string')">
              <ion-option>1.บ้านเดี่ยว</ion-option>
              <ion-option>2.บ้านแฝด/ทาวน์เฮ้า/ทาวน์โฮม</ion-option>
              <ion-option>3.ห้องแถว/เรือนแถว/ตึกแถว</ion-option>
              <ion-option>4.อาคารสูง/คอนโด/แมนชั่น</ion-option>
              <ion-option>5.อาคารสำนักงานเอกชน</ion-option>
              <ion-option>6.โรงแรม/รีสอร์ท/เกสเฮ้าส์</ion-option>
              <ion-option>7.สถานพยาบาล:ภาครัฐ</ion-option>
              <ion-option>8.สถานพยาบาล:ภาคเอกชน</ion-option>
              <ion-option>9.สถานที่ราชการ/รัฐวิสหกิจ</ion-option>
              <ion-option>10.ศาสนสถาน</ion-option>
              <ion-option>11.สถานศึกษา : ภาครัฐ</ion-option>
              <ion-option>12.สถานศึกษา : เอกชน</ion-option>
              <ion-option>13.โกดังโรงงาน</ion-option>
              <ion-option>14.โรงเรือนเพราะปลูก/เลี้ยงสัตว์</ion-option>
              <ion-option>15.อาคารกำลังก่อสร้าง</ion-option>
              <ion-option>16.อื่นๆ</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="isValid('category.string')">
            <span class="invalid-msg">กรุณากรอก</span>
          </ion-item>

        </div>

        <ion-item>
          <ion-label>ประเภทสถานประกอบการบริการ</ion-label>
        </ion-item>
        <div formGroupName="serviceType">
          <ion-item>
            <ion-label>เลือกประเภท</ion-label>
            <ion-select formControlName="string" [class.invalid]="isValid('serviceType.string')">
              <ion-option>1.บ้านเดี่ยว</ion-option>
              <ion-option>2.บ้านแฝด/ทาวน์เฮ้า/ทาวน์โฮม</ion-option>
              <ion-option>3.ห้องแถว/เรือนแถว/ตึกแถว</ion-option>
              <ion-option>4.อาคารสูง/คอนโด/แมนชั่น</ion-option>
              <ion-option>5.อาคารสำนักงานเอกชน</ion-option>
              <ion-option>6.โรงแรม/รีสอร์ท/เกสเฮ้าส์</ion-option>
              <ion-option>7.สถานพยาบาล:ภาครัฐ</ion-option>
              <ion-option>8.สถานพยาบาล:ภาคเอกชน</ion-option>
              <ion-option>9.สถานที่ราชการ/รัฐวิสหกิจ</ion-option>
              <ion-option>10.ศาสนสถาน</ion-option>
              <ion-option>11.สถานศึกษา : ภาครัฐ</ion-option>
              <ion-option>12.สถานศึกษา : เอกชน</ion-option>
              <ion-option>13.โกดังโรงงาน</ion-option>
              <ion-option>14.โรงเรือนเพราะปลูก/เลี้ยงสัตว์</ion-option>
              <ion-option>15.อาคารกำลังก่อสร้าง</ion-option>
              <ion-option>16.อื่นๆ</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isValid('serviceType.string')">
            <span class="invalid-msg">กรุณากรอก</span>
          </ion-item>

        </div>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-3>
          <button ion-button icon-only color="secondary" type="button">
            <ion-icon name="rewind"></ion-icon>
          </button>
          <button ion-button icon-only color="secondary" type="button">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>
            <div class="progress-outer">
              <div class="progress-inner" [style.width]="100 + '%'">
                30 / 30
              </div>
            </div>
          </ion-col>
        <ion-col col-6>
          <button ion-button block type="submit">บันทึก และ จบสัมภาษณ์</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>