<ion-card [formGroup]="FormItem">

  <ion-card-content>
    <ion-item>
      <ion-label>
        5.2.6 <b>บ่อที่ {{ text }}</b>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        1) ใช้น้ำปริมาณเท่าไรต่อเดือนโดยเฉลี่ย
      </ion-label>
    </ion-item>

    <ion-row radio-group formControlName="hasCubicMeterPerMonth" [class.invalid]="isValid('hasCubicMeterPerMonth')">
      <ion-item *ngIf="isValid('hasCubicMeterPerMonth')">
        <span class="invalid-msg">
          กรุณากรอกจำนวน
        </span>
      </ion-item>
      <ion-item col-6>
        <ion-radio [value]="true" item-left></ion-radio>
        <ion-label>
          ทราบปริมาณน้ำ
        </ion-label>
      </ion-item>
      <ion-item col-6>
        <ion-radio [value]="false" item-left></ion-radio>
        <ion-label>
          ไม่ทราบ
        </ion-label>
      </ion-item>
    </ion-row>

    <div [ngSwitch]="FormItem.get('hasCubicMeterPerMonth').value">
      <div *ngSwitchCase="true">
        <ion-item>
          <ion-label>
            ปริมาณน้ำ (ลบ.ม./เดือน)
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกปริมาณน้ำ" formControlName="cubicMeterPerMonth" [class.invalid]="isValid('cubicMeterPerMonth')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('cubicMeterPerMonth')">
          <span class="invalid-msg">
            กรุณากรอกจำนวน
          </span>
        </ion-item>
      </div>
    </div>

    <div *ngIf="FormItem.get('hasCubicMeterPerMonth').value == false">
      <ion-item>
        <ion-label>
          2) ใช้เครื่องสูบน้ำเพื่อสูบน้ำหรือไม่
        </ion-label>
      </ion-item>

      <ion-row radio-group formControlName="hasPump" [class.invalid]="isValid('hasPump')">
        <ion-item *ngIf="isValid('hasPump')">
          <span class="invalid-msg">
            กรุณาเลือก
          </span>
        </ion-item>
        <ion-item col-6>
          <ion-radio [value]="true" item-left></ion-radio>
          <ion-label>
            ใช้
          </ion-label>
        </ion-item>
        <ion-item col-6>
          <ion-radio [value]="false" item-left></ion-radio>
          <ion-label>
            ไม่ใช้
          </ion-label>
        </ion-item>
      </ion-row>
    </div>

    <div [ngSwitch]="FormItem.get('hasPump').value">
      <div *ngSwitchCase="true">
        <ion-item>
          <ion-label>
            3) บ่อนี้ใช้เครื่องสูบน้ำกี่เครื่อง
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="กรอกจำนวนเครื่องสูบน้ำ" formControlName="pumpCount" [class.invalid]="isValid('pumpCount')"></ion-input>
        </ion-item>
        <ion-item *ngIf="isValid('pumpCount')">
          <span class="invalid-msg">
            กรุณากรอกจำนวน
          </span>
        </ion-item>
      </div>
    </div>

  </ion-card-content>
</ion-card>

<div *ngIf="FormItem.get('hasPump').value && FormItem.get('pumpCount').value > 0 ">
  <div *ngFor="let p of FormItem.get('pumps').controls; let i= index">
    <pump [no]="i + 1" [FormItem]="p"></pump>
  </div>
</div>

<div *ngIf="residenceUse == 'true' || gardeningUse == 'true' || agricultureUse == 'true' || factoryUse == 'true' || commerceUse == 'true' || riceDoing == 'true'">
  <ion-card>
    <ion-card-content>
      <water-activity6 usee="{{gardeningUse}}" doing="{{riceDoing}}" commerce="{{commerceUse}}" factory="{{factoryUse}}"
        residence="{{residenceUse}}" agriculture="{{agricultureUse}}" headline="5) ใช้น้ำจากบ่อนี้เพื่อทำกิจกรรมใดบ้างคิดเป็นสัดส่วนเท่าไร"
        [FormItem]="FormItem.get('waterActivities')"
        activeRes="{{activeRes}}"
        activeWateringRes="{{activeWateringRes}}"
        activRice="{{activRice}}"
        activeAgi="{{activeAgi}}"
        activeFac="{{activeFac}}"
        activeCom="{{activeCom}}"></water-activity6>
    </ion-card-content>
  </ion-card>
</div>

<ion-card>
  <water-problem6 headline="6) มีปัญหาคุณภาพน้ำ หรือไม่" [FormItem]="FormItem.get('qualityProblem')"></water-problem6>
</ion-card>