<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>รับงาน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item text-center>
    <ion-label>กดปุ่ม <b>ดาวน์โหลด</b> เพื่อรับข้อมูลงานสำรวจที่ท่านได้รับมอบหมายดังต่อไปนี้</ion-label>
  </ion-item>

  <ion-row text-center align-items-center>
      <ion-col col-2>
        <b>จังหวัด</b>
      </ion-col>
      <ion-col col-2>
        <b>อำเภอ</b>
      </ion-col>
      <ion-col col-2>
        <b>ตำบล</b>
      </ion-col>
      <ion-col col-2>
        <b>เขตการปกครอง</b>
      </ion-col>
      <ion-col col-2>
        <b>เทศบาล</b>
      </ion-col>
      <ion-col col-1>
        <b>EA</b>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
 
    <ng-container *ngIf="eaList$ | async">{{ hideLoading() }}</ng-container>
    <ion-row *ngFor="let item of eaList$ | async" text-center align-items-center>
        <ion-col col-2>
          {{ item.CWT_NAME }}
        </ion-col>
        <ion-col col-2>
          {{ item.AMP_NAME }}
        </ion-col>
        <ion-col col-2>
          {{ item.TAM_NAME }}
        </ion-col>
        <ion-col col-2>
          {{ (item.DISTRICT == 2 ? 'นอกเขตฯ' : 'ในเขตฯ') }}
        </ion-col>
        <ion-col col-2>
          {{ item.MUN_NAME }}{{ item.TAO_NAME }}
        </ion-col>
        <ion-col col-1>
          {{ item.EA }}
        </ion-col>
      </ion-row>

  <ion-row padding>
    <button ion-button full color="secondary" (click)="goConfirmDownLoadPage()" [disabled]="isWork">ดาวน์โหลด</button>
  </ion-row>

</ion-content>