<!-- Generated template for the FieldAreaComponent component -->
<ion-card>
    <ion-card-header>
        ขนาดพื้นที่เท่าไร กี่ไร่ กี่งาน กี่ตารางวา 
    </ion-card-header>
    <ion-card-content>

      <ion-row style="align-items: center">
        <ion-col>
          <button ion-button outline block color="dark"></button>
        </ion-col>
        <ion-col>ไร่</ion-col>
        <ion-col>
          <button ion-button outline block color="dark"></button>
        </ion-col>
        <ion-col>งาน</ion-col>
        <ion-col>
          <button ion-button outline block color="dark"></button>
        </ion-col>
        <ion-col>ตารางวา</ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card>