<ion-row>
  <ion-item col-3>
    <ion-label>ขนาดพื้นที่ (ไร่ งาน ตารางวา)</ion-label>
  </ion-item>
  <ion-col col-3>
    <ion-item>
      <ion-input type="number" disabled="true" item-left>0</ion-input>
      <ion-label>ไร่</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-3>
    <ion-item>
      <ion-input type="number" disabled="true" item-left>0</ion-input>
      <ion-label>งาน</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-3>
    <ion-item>
      <ion-input type="number" disabled="true" item-left>0</ion-input>
      <ion-label>ตารางวา</ion-label>
      <ion-icon name="create" item-end></ion-icon>
    </ion-item>
  </ion-col>
</ion-row>