<ion-header>

  <questionnaire-menu title="ครัวเรือน" isDisabled="true"></questionnaire-menu>

</ion-header>

<ion-content padding>

  <form [formGroup]="f">

    <div *ngIf="f.get('unitCount').value > 0">
      <ion-row text-center>
        <ion-col col-4 *ngFor="let unit of f.get('units').controls; let i = index">
          <unit-button [unitCount]="f.get('unitCount').value" [no]="i + 1" [FormItem]="unit"></unit-button>
          
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>