<ion-header>

  <questionnaire-menu title="ครัวเรือน" isDisabled="true"></questionnaire-menu>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-col col-2 *ngFor="let u of unitList$ | async; let i = index">
      LST {{ i }}
    </ion-col>
    {{ emptyUnits$ | async | json }}
    <ion-col col-1 *ngFor="let u of emptyUnits$ | async; let i = index">
        EMP {{ u }}
      </ion-col>
    </ion-grid>

  <!-- <form [formGroup]="f">

    <div *ngIf="f.get('unitCount').value > 0">
      <ion-row text-center>
        <ion-col col-4 *ngFor="let unit of f.get('units').controls; let i = index">
          <unit-button [unitCount]="f.get('unitCount').value" [no]="i + 1" [FormItem]="unit"></unit-button>
          
        </ion-col>
      </ion-row>
    </div>

  </form> -->

</ion-content>