page-unit {

}

.start {
    background-image: url('../../assets/imgs/play.png');
    height: 190px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pause {
    background-image: url('../../assets/imgs/pause.png');
    height: 190px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.return {
    background-image: url('../../assets/imgs/return.png');
    height: 190px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.done {
    background-image: url('../../assets/imgs/complete.png');
    height: 190px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}
