<div>
  <ion-row (click)="presentModal()" [formGroup]="FormItem">
    <ion-col col-2>
      <ion-label text-center>
        {{ personNo }}
      </ion-label>
    </ion-col>
    <ion-col col-2>
      <ion-select disabled="true" formControlName="nameTitle">
        <ion-option [value]="1">นาย</ion-option>
        <ion-option [value]="2">นาง</ion-option>
        <ion-option [value]="3">น.ส.</ion-option>
        <ion-option [value]="4">เด็กชาย</ion-option>
        <ion-option [value]="5">เด็กหญิง</ion-option>
        <ion-option [value]="6">อื่นๆ</ion-option>
      </ion-select>
    </ion-col>
    <ion-col col-4>
      <ion-input type="text" disabled="true" formControlName="firstName" item-left></ion-input>
    </ion-col>
    <ion-col col-4>
      <ion-input type="text" disabled="true" item-left formControlName="lastName"></ion-input>
    </ion-col>
  </ion-row>
  <ion-item *ngIf="isValid('nameTitle')">
    <span class="invalid-msg" item-right>
      กรุณากรอกข้อมูล
    </span>
  </ion-item>
</div>