<ion-header>

  <ion-navbar>
    <ion-title>{{ head }} {{ text }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="FormItem" (ngSubmit)="okDialog()">

    <ion-item>
      <ion-label>ความกว้าง กี่เมตร</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="width" [class.invalid]="isValid('width')"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('width')">
      <span class="invalid-msg">กรุณากรอกข้อมูล</span>
    </ion-item>
    <ion-item
      *ngIf="FormItem.get('width').value > 100 || (FormItem.get('width').value < 0.5 &&  FormItem.get('width').value > 0)">
      <ion-icon md="md-warning" class="warning"></ion-icon>
      <span class="warning-msg">
        กรุณาตรวจสอบความกว้างมีขนาดผิดปกติหรือไม่
      </span>
    </ion-item>
    <ion-item>
      <ion-label>ความยาว กี่เมตร</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="length" [class.invalid]="isValid('length')"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('length')">
      <span class="invalid-msg">กรุณากรอกข้อมูล</span>
    </ion-item>
    <ion-item
      *ngIf="FormItem.get('length').value > 100 || (FormItem.get('length').value < 0.5 &&  FormItem.get('length').value > 0)">
      <ion-icon md="md-warning" class="warning"></ion-icon>
      <span class="warning-msg">
        กรุณาตรวจสอบความยาวมีขนาดผิดปกติหรือไม่
      </span>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button type="button" block color="light" (click)="closeDialog()">ยกเลิก</button>
        </ion-col>
        <ion-col>
          <button ion-button block [disabled]="isValid('width') || isValid('length')">ตกลง</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>