<ion-header>

  <ion-toolbar>
    <ion-title>
      ระบบการจัดเก็บข้อมูล
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center>
      <ion-col text-center>
        <img src="../../assets/imgs/logowaterproject.png">
        <br><br>
        <h4>ระบบการจัดเก็บข้อมูลในครัวเรือน <br>ครัวเรือนเกษตร<br> สถานประกอบการ และพื้นที่ย่อย</h4>
        <br><br>
        <!-- <button ion-button full color="secondary" [navPush]="'ScanqrPage'" [disabled]="mustStop">เปิดใช้งาน TABLET</button> -->
        <button ion-button full color="secondary" [navPush]="'SelectEaPage'" [disabled]="mustStop">เข้าใช้งาน</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-note>Version 1.3.3</ion-note>
    </ion-row>
    <ion-row *ngIf="appMsg$ | async as appMsg">
      <ion-col text-center>
        <h1>{{ appMsg.title }}</h1>
        <p>{{ appMsg.msg }}</p>
        <p *ngIf="appMsg.uri"><a [href]="appMsg.uri">ดูเพิ่มเติม...</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
