<ion-card>
  <ion-card-header>
    5) ใช้น้้าจากสระนี้เพื่อท้ากิจกรรมใดบ้างคิดเป็น สัดส่วนเท่าไร
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label col-4>
        1.เพื่ออุปโภคบริโภค
      </ion-label>
      <ion-input placeholder="สัดส่วนที่ใช้ %"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label col-4>
        2.เพื่อรดน้้าพืชในบริเวณที่อยู่อาศัย
      </ion-label>
      <ion-input placeholder="สัดส่วนที่ใช้ %"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label col-4>
        3.เพื่อท้านา
      </ion-label>
      <ion-input placeholder="สัดส่วนที่ใช้ %"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label col-4>
        4.เพื่อท้าเกษตร
      </ion-label>
      <ion-input placeholder="สัดส่วนที่ใช้ %"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label col-4>
        5.เพื่อผลิตสินค้า
      </ion-label>
      <ion-input placeholder="สัดส่วนที่ใช้ %"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label col-4>
        6.เพื่อการบริการ
      </ion-label>
      <ion-input placeholder="สัดส่วนที่ใช้ %"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label col-4>
        รวมทุกกิจกรรม
      </ion-label>
      <ion-input placeholder="100"></ion-input>
    </ion-item>


  </ion-card-content>

  <ion-card-header>
    6) มีปัญหาคุณภาพน้้า หรือไม่
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-radio item-left></ion-radio>
      <ion-label>1.ไม่มีปัญหา </ion-label>
    </ion-item>
    <ion-item>
      <ion-radio item-left></ion-radio>
      <ion-label>2.มีปัญหา คือ</ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            2.1 เค็ม/กร่อย
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item>
          <ion-label>
            2.2 มีกลิ่น
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            2.3 คราบมัน
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            2.4 ฝ้าขาว
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>


  </ion-card-content>
</ion-card>