<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      หน้าหลัก
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showQuickMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-item>
      <ion-label>
        {{ dataWorkEARow?.properties.pro_name }}
        {{ dataWorkEARow?.properties.dis_name }}
        {{ dataWorkEARow?.properties.tam_name }}
        {{ str }}
        {{ dataWorkEARow?.properties.ea_code_14 }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>สถานะของ EA:</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="statusEa" disabled="true">
        <ion-option [value]="1">
          กำลังสำรวจ
        </ion-option>
        <ion-option [value]="2">
          สำรวจครบแล้ว
        </ion-option>
        <ion-option [value]="3">
          ตรวจสอบแล้ว
        </ion-option>
        <ion-option [value]="4">
          อนุมัติแล้ว
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-row>

  <ion-row align-items-center>
    <ion-col>
      <button ion-button block type="button" (click)="goBuildingInfo(dataWorkEARow?._id)">
        สำรวจหน่วยต่อไป
      </button>
    </ion-col>
    <ion-col>
      <button ion-button block type="button">
        สำรวจครบทุกหน่วยใน EA
      </button>
    </ion-col>
  </ion-row>

  <div>
    <ion-segment [(ngModel)]="office">
      <ion-segment-button value="building" (click)="changeNum('1')">
        สน.1 ข้อมูลอาคาร
      </ion-segment-button>
      <ion-segment-button value="areayoi" (click)="changeNum('2')">
        สน.2 พื้นที่ย่อย
      </ion-segment-button>
      <ion-segment-button value="fsedit" (click)="changeNum('3')">
        FS ให้แก้ไข
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="office">
    <div *ngSwitchCase="'building'">

      <ion-row align-items-center>
        <ion-col col-11>
          <!-- <ion-searchbar (ionChange)="setFilteredItems($event)"></ion-searchbar> -->
          <ion-searchbar (ionInput)="searchItem($event)"></ion-searchbar>
        </ion-col>
        <ion-col col-1>
          <button ion-button type="button" color="light">
            <ion-icon name="md-search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-segment icon-start [(ngModel)]="icons">
        <ion-segment-button value="lastest">
          <ion-icon name="md-create"></ion-icon>
          ข้อมูลล่าสุด
        </ion-segment-button>
        <ion-segment-button value="all" (click)="totalData()">
          <ion-icon name="folder"></ion-icon>
          ข้อมูลทั้งหมด
        </ion-segment-button>

        <ion-segment-button value="pause" (click)="filterPause()">
          <ion-icon name="md-pause"></ion-icon>
          หยุดชั่วคราว
        </ion-segment-button>

        <ion-segment-button value="return" (click)="filterRefresh()">
          <ion-icon name="md-eye"></ion-icon>
          สำรวจครั้งที่ 2,3
        </ion-segment-button>
      </ion-segment>

      <ion-row text-center align-items-center>
        <ion-col col-2>
          ลำดับที่
        </ion-col>
        <ion-col col-2>
          บ้านเลขที่
        </ion-col>
        <ion-col col-3>
          ชื่อสถานที่
        </ion-col>
        <ion-col col-4>
          <ion-row align-items-center>
            <ion-label>
              ครัวเรือน/สถานประกอบการ
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              สำรวจแล้ว
            </ion-col>
            <ion-col col-6>
              ทั้งหมด
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <hr>


      <div *ngFor="let item of listFilter;let i = index;">
        <ion-row text-center align-items-center>
          <ion-col col-1 (click)="goEditBuildingInfo(item)">
            <ion-icon disabled="false" name="{{item.status}}"></ion-icon>
          </ion-col>
          <ion-col col-1 (click)="goEditBuildingInfo(item)">
            {{i+1}}
          </ion-col>
          <ion-col col-2 (click)="goEditBuildingInfo(item)">
            {{item.houseNo}}
          </ion-col>
          <ion-col col-3 (click)="goEditBuildingInfo(item)">
            {{item.name}}
          </ion-col>
          <ion-col col-2 (click)="goEditBuildingInfo(item)">
            {{item.unitCountComplete}}
          </ion-col>
          <ion-col col-2 (click)="goEditBuildingInfo(item)">
            {{item.unitCount}}
          </ion-col>
          <ion-col col-1>
            <button ion-button type="button" color="danger" (click)="DeleteBuilding(item._id)">
              ลบ
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngSwitchCase="'areayoi'">
      <ion-row align-items-center>
        <ion-col col-11>
          <ion-searchbar></ion-searchbar>
        </ion-col>
        <ion-col col-1>
          <button ion-button type="button" color="light">
            <ion-icon name="md-search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-segment icon-start [(ngModel)]="icons">
        <ion-segment-button value="lastest">
          <ion-icon name="md-create"></ion-icon>
          ข้อมูลล่าสุด
        </ion-segment-button>
        <ion-segment-button value="all">
          <ion-icon name="folder"></ion-icon>
          ข้อมูลทั้งหมด
        </ion-segment-button>
        <ion-segment-button value="pause">
          <ion-icon name="md-pause"></ion-icon>
          หยุดชั่วคราว
        </ion-segment-button>
        <ion-segment-button value="return">
          <ion-icon name="md-eye"></ion-icon>
          สำรวจครั้งที่ 2,3
        </ion-segment-button>
      </ion-segment>

      <ion-row text-center align-items-center>
        <ion-col col-2>
          ลำดับที่
        </ion-col>
        <ion-col col-2>
          หมู่ที่
        </ion-col>
        <ion-col col-7>
          ชื่อหมู่บ้าน
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>

      <hr>
      <div *ngFor="let itemCom of dataCommunity;let i=index">
        <ion-row text-center align-items-center>
          <ion-col col-1>
            <ion-icon disabled="false" name="pause"></ion-icon>
          </ion-col>
          <ion-col col-1 (click)="goEditBuildingInfo(itemCom._id)">
            {{i+1}}
          </ion-col>
          <ion-col col-2 (click)="goEditBuildingInfo(itemCom._id)">
            {{dataWorkEARow.properties.moo}}
          </ion-col>
          <ion-col col-7 (click)="goEditBuildingInfo(itemCom._id)">
            {{dataWorkEARow.properties.muni_name}}
          </ion-col>
          <ion-col col-1>
            <button ion-button type="button" color="danger" (click)="deleteCommu(itemCom._id)">
              ลบ
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngSwitchCase="'fsedit'">
      <ion-row text-center align-items-center>
        <ion-col col-2>
          ลำดับที่
        </ion-col>
        <ion-col col-2>
          บ้านเลขที่
        </ion-col>
        <ion-col col-3>
          ชื่อสถานที่
        </ion-col>
        <ion-col col-4>
          <ion-row align-items-center>
            <ion-label>
              ครัวเรือน/สถานประกอบการ
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              สำรวจแล้ว
            </ion-col>
            <ion-col col-6>
              ทั้งหมด
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-1> </ion-col>
      </ion-row>
      <hr>

      <hr>
      <ion-row text-center align-items-center>
        <ion-col col-2>
          ลำดับที่
        </ion-col>
        <ion-col col-2>
          หมู่ที่
        </ion-col>
        <ion-col col-7>
          ชื่อหมู่บ้าน
        </ion-col>
        <ion-col col-1> </ion-col>
      </ion-row>
      <hr>
    </div>
  </div>

</ion-content>