<ion-card (click)="showModalArea()">
  <ion-card-content>

    <div [formGroup]="FormItem">

      <ion-item>
        <ion-label>
          {{ text }}
        </ion-label>
      </ion-item>
      <div radio-group (ionChange)="showModalArea()" 
      formControlName="shape">
        <ion-item>
          <ion-label>ทราบพื้นที่หรือไม่ กี่ไร่ กี่งาน กี่ตารางวา ความลึกของบ่อกี่เมตร</ion-label>
          <ion-radio value="1" item-left></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>ไม่ทราบพื้นที่ ถ้าบ่อเป็นสี่เหลี่ยม </ion-label>
          <ion-radio value="2" item-left></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>ไม่ทราบพื้นที่ ถ้าบ่อเป็นวงกลม </ion-label>
          <ion-radio value="3" item-left></ion-radio>
        </ion-item>
      </div>

      <div [ngSwitch]="FormItem.get('shape').value">

        <div *ngSwitchCase="1">
          <div formGroupName="area">
            <ion-row>
              <ion-col col-3>
                <ion-item>
                  <ion-input type="number" disabled="true" item-left formControlName="rai"></ion-input>
                  <ion-label>ไร่</ion-label>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                <ion-item>
                  <ion-input type="number" disabled="true" item-left formControlName="ngan"></ion-input>
                  <ion-label>งาน</ion-label>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item>
                  <ion-input type="number" disabled="true" item-left formControlName="sqWa"></ion-input>
                  <ion-label>ตารางวา</ion-label>
                </ion-item>
              </ion-col>

            </ion-row>
          </div>
        </div>

        <div *ngSwitchCase="2">
          <div formGroupName="rectangle">
            <ion-row>
              <ion-col col-6>
                <ion-item>
                  <ion-input type="number" disabled="true" formControlName="width"></ion-input>
                  <ion-label>ความกว้าง</ion-label>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-input type="number" disabled="true" formControlName="length"></ion-input>
                  <ion-label>ความยาว</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <ion-row>
          <div *ngSwitchCase="3">
            <ion-col col-6>
              <ion-item>
                <ion-input type="number" disabled="true" formControlName="diameter"></ion-input>
                <ion-label>เส้นผ่านศูนย์กลาง</ion-label>
              </ion-item>
            </ion-col>
          </div>
          <ion-col col-6>
            <ion-item>
              <ion-input type="number" disabled="true" formControlName="depth"></ion-input>
              <ion-label>ความลึก</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>




      </div>



    </div>
  </ion-card-content>
</ion-card>