<ion-item>
  <ion-label>ทราบพื้นที่หรือไม่ กี่ไร่ กี่งาน กี่ตารางวา ความลึกของบ่อกี่เมตร</ion-label>
  <ion-radio item-left></ion-radio>
</ion-item>
<ion-item>
  <ion-label>ไม่ทราบพื้นที่ ถ้าบ่อเป็นสี่เหลี่ยม </ion-label>
  <ion-radio item-left></ion-radio>
</ion-item>
<ion-item>
  <ion-label>ไม่ทราบพื้นที่ ถ้าบ่อเป็นวงกลม </ion-label>
  <ion-radio item-left></ion-radio>
</ion-item>

<ion-item>
  <ion-label col-3>ไร่</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-3>งาน</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-3>ตารางวา</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-3>ความลึก</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label col-3>ความกล้าง</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-3>ความยาว</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-3>ความลึก</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label col-3>เส้นผ่านศูนย์กลาง</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>
<ion-item>
  <ion-label col-3>ความลึก</ion-label>
  <ion-input disabled="true" type="number"></ion-input>
</ion-item>