<div [formGroup]="FormItem">

  <ion-item>
    <ion-label>
      <b>{{text}}</b>
    </ion-label>
  </ion-item>
  <div *ngIf="activeRes">
    <ion-item>
      <ion-label col-8>
        เพื่ออุปโภคบริโภค
      </ion-label>
      <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="drink" [class.invalid]="isValid('drink')"
        (ionChange)="onChangeValue()"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('drink')" text-right>
      <span class="invalid-msg">
        กรุณากรอกข้อมูล
      </span>
    </ion-item>
  </div>

  <div *ngIf="activeWateringRes">
    <ion-item>
      <ion-label col-8>
        เพื่อรดน้ำพืชในบริเวณที่อยู่อาศัย
      </ion-label>
      <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="plant" [class.invalid]="isValid('plant')"
        (ionChange)="onChangeValue()"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('plant')" text-right>
      <span class="invalid-msg">
        กรุณากรอกข้อมูล
      </span>
    </ion-item>
  </div>

  <div *ngIf="activeAgi">
    <ion-item>
      <ion-label col-8>
        เพื่อทำเกษตร
      </ion-label>
      <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="agriculture"
        [class.invalid]="isValid('agriculture')" (ionChange)="onChangeValue()"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('agriculture')" text-right>
      <span class="invalid-msg">
        กรุณากรอกข้อมูล
      </span>
    </ion-item>
  </div>

  <div *ngIf="activeFac">
    <ion-item>
      <ion-label col-8>
        เพื่อผลิตสินค้า
      </ion-label>
      <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="product" [class.invalid]="isValid('product')"
        (ionChange)="onChangeValue()"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('product')" text-right>
      <span class="invalid-msg">
        กรุณากรอกข้อมูล
      </span> </ion-item>
  </div>

  <div *ngIf="activeCom">
    <ion-item>
      <ion-label col-8>
        เพื่อการบริการ
      </ion-label>
      <ion-input type="number" placeholder="กรอกข้อมูล" formControlName="service" [class.invalid]="isValid('service')"
        (ionChange)="onChangeValue()"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('service')" text-right>
      <span class="invalid-msg">
        กรุณากรอกข้อมูล
      </span>
    </ion-item>
  </div>

  <ion-item>
    <ion-label col-8>
      <b>รวมทุกกิจกรรม</b>
    </ion-label>
    <ion-input type="number" [class.invalid]="resultSum != 100" value="{{resultSum}}" readonly></ion-input>
  </ion-item>
  <ion-item *ngIf="resultSum > 100" text-right>
    <span class="invalid-msg">
      เกินมา {{resultSum - 100}} %
    </span>
  </ion-item>
  <ion-item *ngIf="resultSum < 100" text-right>
    <span class="invalid-msg">
      ยังขาดอีก {{100 - resultSum}} %
    </span>
  </ion-item>
  <ion-item *ngIf="FormItem.get('drink').value < 1 &&  activeRes " text-right>
    <span class="invalid-msg">
      กิจกรรมเพื่ออุปโภคบริโภค ต้องมากกว่า 0
    </span>
  </ion-item>
  <ion-item *ngIf="FormItem.get('plant').value < 1  && activeWateringRes" text-right>
    <span class="invalid-msg">
      กิจกรรมเพื่อรดน้ำพืชในบริเวณที่อยู่อาศัย ต้องมากกว่า 0
    </span>
  </ion-item>
  <ion-item *ngIf="FormItem.get('agriculture').value < 1 && activeAgi " text-right>
    <span class="invalid-msg">
      กิจกรรมเพื่อทำเกษตร ต้องมากกว่า 0
    </span>
  </ion-item>
  <ion-item *ngIf="FormItem.get('product').value < 1  && activeFac" text-right>
    <span class="invalid-msg">
      กิจกรรมเพื่อผลิตสินค้า ต้องมากกว่า 0
    </span>
  </ion-item>
  <ion-item *ngIf="FormItem.get('service').value < 1 && activeCom" text-right>
    <span class="invalid-msg">
      กิจกรรมเพื่อการบริการ ต้องมากกว่า 0
    </span>
  </ion-item>
</div>